{% extends "base.html" %}
{% block title %} ??? {% endblock %}
{% block header %} ??? {% endblock %}
{% block css %}
p.colselector {
    margin: 4px 0;
    text-align: center;
}
p.colselector > span {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 2px 4px;
    margin-right: 2px;
}
p.colselector .active {
    background-color: silver;
}
p.colselector a:link {
    color: black;
    text-decoration: none;
}
p.colselector a:visited {
    color: black;
    text-decoration: none;
}
{% endblock %}
