{% extends "employee/base.html" %}
{% block js %}
  <script type="text/javascript">
      function refresh_svg() {
        var svg=document.getElementById("thesvg");
        svg.height.baseVal.value = document.getElementsByTagName("body")[0].getBoundingClientRect().bottom - svg.getBoundingClientRect().top - 4;
      }
  </script>
{% endblock %}
{% block jsready %}
    {{ super() }}
    refresh_svg();
    document.getElementsByTagName("body")[0].setAttribute('onresize', 'refresh_svg();');
    $(".hhmm>input").mask("99:99");
{% endblock %}
{% block css %}
    {{ super() }}
    form :disabled {
        color: black; 
    }
{% endblock %}
{% block body_main %}
  <div id="header">
    {% block rs_head %}
    {% endblock %}
  </div>
  <table id="thetable">
    <tr>
      <td id="leftmenu" class="thecell" style="vertical-align: top">
        {% block rs_leftmenu %}
        {% endblock %}
      </td>
      <td id="canvas" class="thecell">  <!-- set height="1234" for compatibility-->
{% block svg %}
{% endblock %}
      </td>
    </tr>
  </table>
{% endblock %}
