{% extends "employee/rs_base.html" %}
{% block rs_head %}
    <p> График кабинета №{{ room.pk }} (с {{ rs.begdate|date }}): </p>
    <p> Еще кабинетов: {% for i in rooms %}
        {% if i == room %}
            {{ i.pk }}
        {% else %}
            <a href="{{ url_for('rs_room', rs.id, i.pk) }}"> {{ i.pk }} </a>
        {% endif %}
    {% endfor %} </p>
{% endblock %}
{% block rs_leftmenu %}
	    <a href="{{ url_for('rse_room_add', rs.id, room.pk) }}"> <button type="button"> Add slot </button> </a>
{% endblock %}
{% block rs_hgrid %}
  {% for d in dows %}
	  {% set x = hx + (loop.index0 * dx) %}
    <!-- grid -->
	  <line x1="{{x}}%" y1="0" y2="100%" x2="{{x}}%"/>
    <g class="hcenter">
      <a xlink:href="{{ url_for('rs_dow', rs.id, d.pk) }}" xlink:title="ГК для {{ d.name }}">
        <text x="{{x+(dx/2.0)}}%" y="0"> <tspan dy="1.5ex"> {{ d.name }} </tspan> </text>
      </a>
    </g>
    <!-- slots -->
    <g class="occupy">
      {% for entry in rse.filter(dow=d) %}
        {% set y = hy+(((entry.begtime/60.0)-hbeg)*dy) %}
        <a xlink:href="{{ url_for('rse_room_edit', entry.pk) }}" xlink:title="Edit this entry">
          <rect
            x="{{x}}%"
            y="{{y}}%"
            width="{{dx}}%"
            height="{{(entry.endtime-entry.begtime)/60.0*dy}}%"
            rx="3" ry="3"
          >
            <title> {{ entry.specialty.name }} </title>
          </rect>
        </a>
        {% set xt = x+(dx/2.0) %}
        <text
            x="{{xt}}%"
            y="{{y}}%"
        > {% for t in entry.specialty.get_name_wrapped() %}
          <tspan x="{{xt}}%" dy="1.5ex"> {{ t }} </tspan>
          {% endfor %}
        </text>
      {% endfor %}
    </g>
  {% endfor %}
{% endblock %}
