{% extends "employee/base.html" %}
{% block jsready %}
{{ super() }}
$("#id_begtime").mask("99:99");
$("#id_endtime").mask("99:99");
{% endblock %}
{% block body_main %}
        <form method="post" action="">
        <table>
        {{ form.as_table() }}
        </table>
        <button type="submit"> Ok </button>
        <a href="{{ cancelurl }}"> <button type="button"> Cancel </button> </a>
        {% if delurl %}
        <a href="{{ delurl }}"> <button type="button"> Del </button> </a>
        {% endif %}
        </form>
{% endblock %}
