{# Здесь можно только добавить/изменить/удалить Ставок. Занято формируется из Сотрудников, Окабинечено - из Графика кабинетов. 1 Ставка = 40 часов в неделю. #}
{% extends "employee/base.html" %}

{% block title %}
  Штатное расписание
{% endblock %}

{% block header %}
  Штатное расписание с {{ stafflist.begdate }}
{% endblock %}

{% block body_main %}
<div style="-moz-column-count: 2; -webkit-column-count: 2; column-count: 2;">
<table border="1" class="thick">
    <tr>
        <th> Специальность </th>
        <th colspan="2" title="Придумано в штатном расписании"> Ставок </th>
        <th title="Обеспечено врачами в штате"> Нанято </th>
        <th title="Расписано в Графике кабинетов"> Окабинечено </th>
        <th title="Расписано в Графике кабинетов по врачам"> Оврачено </th>
    </tr>
    {% for dep in data %}
        <tr> <th colspan = "6"> {{ dep.dep.name }} </th> </tr>
        {% for spec in dep.data %}
            <tr>
                <td> {{ spec.spec.name }} </td>
                {% if spec.need %}
                    <td align="center"> {{ spec.need.qty }} </td>
                    <td align="center"> <a href="{{ url_for('staff_edit', spec.need.pk) }}"> E </a> </td>
                {% else %}
                    <td align="center"> - </td>
                    <td align="center" title="Добавить ставок"> <a href="{{ url_for('staff_add', stafflist.pk, spec.spec.id) }}"> + </a> </td>
                {% endif %}
                <td> {{ spec.are }} </td>
                <td> {{ spec.roomed }} </td>
                <td> {{ spec.doced }} </td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>
</div>
{% endblock %}
