$def with (root, menu, id = None)
<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Реестр.Фирма.Редактирование</title>
</head>
<body>
<center> <h1> <a href="$root/"> Реестр </a> &gt; <a href="$root/org/list/"> Список юрлиц </a> &gt; Редактирование </h1> </center>
<h2> 1. Основные данные </h2>
<table border="1">
	<thead> <tr> <th> Параметр </th> <th> Значение </th> <thead>
	<tbody>
		<tr> <td> Id </td>			<td> 3 </td> </tr>
		<tr> <td> Наименование краткое </td>	<td> Рога </td> </tr>
		<tr> <td> Наименование полное </td>	<td> Рога и копыта </td> </tr>
		<tr> <td> Вид собственности </td>	<td> ОББ (Общество с безграничной безответственностью) </td> </tr>
		<tr> <td> Дата регистрации </td>	<td> 01.01.2008 </td> </tr>
		<tr> <td> ИНН </td>			<td> 78945612321 </td> </tr>
		<tr> <td> КПП </td>			<td> 780100102 </td> </tr>
		<tr> <td> ОГРН </td>			<td> 321654987 </td> </tr>
		<tr> <td> ОКВЭД </td>			<td> 123546<br/>321654<br/>546231 </td> </tr>
		<tr> <td> Юр. адрес </td>		<td> 192001, г.Санкт-Петербург, ул.Седова, 11, пом.630 </td> </tr>
		<tr> <td> Физ. адрес </td>		<td> тот же </td> </tr>
		<tr> <td> Телефон </td>			<td> +7 812 3216547<br/>+7 812 6543218 </td> </tr>
		<tr> <td> Лицензия </td>		<td> АБ 2345-9875 </td> </tr>
		<tr> <td> Виды работ по лицензии </td>	<td> Раскрашивание облаков,<br/>Земляные работы,<br/>Любой каприз за ваши деньги </td> </tr>
		<tr> <td> Лицензия годна до </td>	<td> 20.04.2009 </td> </tr>
		<tr> <td> Дата вступления в СРО </td>	<td> 01.05.2009 </td> </tr>
		<tr> <td> Руководство </td>
			<td>
				<table>
					<tr> <td> Генеральный директор: </td> <td> Череззаборногузадерищенко Иван Петрович </td> </tr>
					<tr> <td> Главный бухгалтер: </td> <td> Несидевшая-Наличман Ребекка Евлампиевна </td> </tr>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<h2> 2. Участие в собраниях <h2>
	<table border="1">
		<thead> <tr> <th> Дата </th> <th> О чем </th> <th> Был </th> </tr> </thead>
		<tbody>
			<tr> <td>  </td> <td>  </td> <td>  </td> </tr>
		</tbody>
	</table>
<h2> 3. События <h2>
	<table border="1">
		<thead> <tr> <th> Дата </th> <th> Тип </th> <th> Каменты </th> </tr> </thead>
		<tbody>
			<tr> <td> 01.01.2009 </td> <td> Пришел </td> <td>  </td> </tr>
			<tr> <td> 01.02.2009 </td> <td> Увидел </td> <td>  </td> </tr>
			<tr> <td> 01.03.2009 </td> <td> Победил </td> <td>  </td> </tr>
		</tbody>
	</table>
<h2> 4. Документы <h2>
	<table border="1">
		<thead> <tr> <th> Дата </th> <th> Наименование </th> </tr> </thead>
		<tbody>
			<tr> <td> 02.02.2009 </td> <td> <a href="dummy.png">Лицензия (стр.1)</a> </td> </tr>
			<tr> <td> 02.02.2009 </td> <td> <a href="dummy.png">Лицензия (стр.2)</a> </td> </tr>
		</tbody>
	</table>
<h2> 5. Отзывы </h2>
	<table border="1">
		<thead> <tr> <th> Дата </th> <th> Автор </th> <th> Содержание </th> </tr> </thead>
		<tbody>
			<tr> <td> 13.03.2009 </td> <td> user00 </td> <td> Работы выполняют качественно и в срок, с минимальными потерями.<br/>Резюме: классная обналичка </td> </tr>
		</tbody>
	</table>
</body>
</html>
