<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
	<title>LanSite</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="base.css" type="text/css" />
</head>
<body>
<center>
	<h1> <a href="../">LanSite</a> &gt; InsuPol </h1>
	<table width="100%" border="0">
		<tr>
			<td align="center"> <a href="policy/"> Полисы </a> </td>
			<td align="center"> <a href="reports/"> Отчеты </a> </td>
			<td align="right"> <a href="../admin/insupol/"> Админка </a> </td>
			<td align="right"> <a href="databrowse"> Просмотр данных </a> </td>
		</tr>
</center>
</body>
</html>
