<link rel="stylesheet" type="text/css" href="insupol.css" />
<h1> <a href="/">LanSite</a> &gt; <a href="/insupol/"> InsuPol </a> &gt; <a href="/insupol/policy/"> Полисы </a> &gt; № {{ policy.id }} </h1>
<form action="/sro/org/{{ org.id }}/edit/" method="post">
			<table border="0">
			<tbody>
				<tr>	<td> Рег. №: </td>			<td> <input type="input" value="{{ org.id }}"/>  </td>	</tr>
				<tr>	<td> Кратко: </td>			<td> <input type="input" value="{{ org.name }}"/> </td>	</tr>
				<tr>	<td> Полно: </td>			<td> <input type="input" value="{{ org.fullname }}"/> </td>	</tr>
				<tr>	<td> ОКОПФ: </td>			<td> <select>
					{% for i in okopf %}
						<option value="{{ i.id }}" {% ifequal i.id org.okopf.id %} selected="selected" {% endifequal %}> {{ i.name }} </option>
					{% endfor %}
				</select> </td>	</tr>
				<tr>	<td> Дата регистрации в ЕГРЮЛ: </td>	<td> <input type="input" value="{{ org.regdate }}"/> </td> </tr>
				<tr>	<td> ИНН: </td>				<td> <input type="input" value="{{ org.inn }}"/> </td>	</tr>
				<tr>	<td> КПП: </td>				<td> <input type="input" value="{{ org.kpp }}"/> </td>	</tr>
				<tr>	<td> ОГРН: </td>			<td> <input type="input" value="{{ org.ogrn }}"/> </td>	</tr>
				<tr>	<td> Адрес юридический: </td>		<td> <input type="input" value="{{ org.laddress }}"/> </td>	</tr>
				<tr>	<td> Адрес фактический: </td>		<td> <input type="input" value="{{ org.raddress }}"/> </td>	</tr>
				<tr>	<td valign="top"> ОКВЭД: </td>	<td> <table>
					{% for i in org.okveds.all %}
						<tr> <td> {{ i.asstr|wordwrap:50|linebreaksbr }} </td> <td> <a href=""> X </a> </td> </tr>
					{% endfor %}
					<tr>
						<td> <select>
							{% for i in okved %}
								<option value="{{ i.id }}" {% ifequal i.disabled True %} disabled="disabled" {% endifequal %}> {{ i.asstr|wordwrap:50|linebreaksbr }} </option>
							{% endfor %}
						</select> </td>
						<td>
							<input type="button" value="+">
						</td>
					</tr>
				</table> </td>	</tr>
				<tr>	<td valign="top"> Телефоны: </td>	<td> <table>
					{% for i in org.phones.all %}
						<tr>
							<td> +{{ i.country }} </td>
							<td>  {{ i.trunk }} </td>
							<td>  {{ i.phone }} </td>
							<td> {% ifnotequal i.ext None %} #{{ i.ext }} {% endifnotequal %} </td>
							<td> <a href=""> X </a> </td>
						</tr>
					{% endfor %}
						<tr>
							<td> +<input type="input" maxlength="3" size="1"/> </td>
							<td>  <input type="input" maxlength="5" size="2"/> </td>
							<td>  <input type="input" maxlength="7" size="5"/> </td>
							<td> #<input type="input" maxlength="4" size="2"/> </td>
							<td>  <input type="button" value="+">  </td>
						</tr>
				</table> </td>	</tr>
				<tr>	<td valign="top"> Электропочта: </td>	<td> <table>
					{% for i in org.emails.all %}
						<tr>
							<td> <a href="mailt:{{ i.URL }}"> {{ i.URL }} </a> </td>
							<td> <a href=""> X </a> </td>
						</tr>
					{% endfor %}
						<tr>
							<td> <input type="input" /> </td>
							<td> <input type="button" value="+">  </td>
						</tr>
				</table> </td>	</tr>
			</tbody>
			</table>
<input type="submit" value="ok" />
</form>
