<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
	<title>Run1s. Database ACL</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<center> <h1> Database ACL: </h1> <a href="../.."> (Back) </a> </center>
<table border="0">
	<tr><td>Org:</td>	<td> {{ db.org.name }} </td></tr>
	<tr><td>Type:</td>	<td> {{ db.type.name }} </td></tr>
	<tr><td>Path:</td>	<td> {{ db }} </td></tr>
	<tr><td>Comments:</td>	<td> {{ db.comments }} </td></tr>
</table>
<h2> Users: </h2>
<table border="1">
	<thead> <tr> <th> Login </th> <th> Comments </th> <th/> </tr> </thead>
	<tbody>
	{% for user in db.user_set.all %}
		<tr>
			<td> {{ user.login }} </td>
			<td> {{ user.comments }} </td>
			<td> <a href="../../dbacldel/{{ user.id }}/{{ db.id }}/">X</a> </td>
	{% endfor %}
	</tbody>
</table>
<form action="." method="post">
	<select size="1" name="user_id">
	{% for user in users %}
		<option value="{{ user.id }}">{{ user.login }} ({{ user.comments }}) </option>
	{% endfor %}
	</select>
	<input type="submit" value="Add" />
</form>
</body>
</html>
