<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
	<title>Run1s.Databases</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style></style>
</head>
<body>
<h1> Databases: </h1>
<p> <a href="/admin/run1s/"> (Administer) </a> | <a href="../user/"> (Users) </a> </p>
<table border="1">
<thead> <tr> <th> Org </th> <th> Type </th> <th> Path </th> <th> Comments </th> <th> ACL </th> </tr> </thead>
<tbody>
{% for db in db_list %}
	<tr>
		<td>{{ db.org.name }}</td>
		<td>{{ db.type.name }}</td>
		<td>\\{{ db.share.host.name }}\{{ db.share.name }}\{{ db.path }}</td>
		<td>{{ db.comments }}</td>
		<td> <a href="{{ db.id }}/acl/">ACL</a> </td>
	<tr>
{% endfor %}
</tbody>
</table>
</body>
</html>
