$def with (root, item, dbname, message = None)
<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<body>
<center><h1>Software.Vendor</h1></center>
<form method="post" enctype="multipart/form-data" action="">
	<p> Id: $item.id </p>
	<p> <LABEL for="name">Name:</LABEL> <input type="text" name="name" id="name" value="$item.name" /> </p>
	<p> <LABEL for="comments">Comments:</LABEL> <input type="text" id="comments" name="comments" value="$item.comments" /> </p>
	<p> <input type="submit" value="OK" /> <input type="button" value="Cancel" onclick="javascript:window.location='/soft/$dbname/list/'"/> </p>
</form>
</body>
</html>
