$def with (root)
<center>
<table border="0" width="100%">
<tr>
	<td>
		<table border="1"> <tr>
			<td> <a href="/org/list/"> Юрлица </a> </td>
			<td> <a href="/person/list/"> Физлица </a> </td>
			<td> <a href="/meeting/list/"> Собрания </a> </td>
		</tr> </table>
	</td>
	<td>
		<table border="1"> <tr>
			<td> <a href="/event/list/"> Виды событий </a> </td>
			<td> <a href="/profile/list/"> Профили </a> </td>
			<td> <a href="/user/list/"> Пользователи </a> </td>
		</tr> </table>
	</td>
	<td>
		<table border="1"> <tr>
			<td> <a href="/okved/list/"> ОКВЭД </a> </td>
			<td> <a href="/okdp/list/"> ОКДП </a> </td>
			<td> <a href="/okopf/list/"> ОКОПФ </a> </td>
			<td> <a href="/okpdtr/list/"> ОКПДТР </a> </td>
			<td> <a href="/okso/list/"> ОКСО </a> </td>
		</tr> </table>
	</td>
<tr>
</table>
<center>
