<link rel="stylesheet" type="text/css" href="policy.css" />
<h1> <a href="../../../">LanSite</a> &gt; <a href="../../"> InsuPol </a> &gt; <a href="../"> Полисы </a> &gt; № {{ policy.id }} </h1>
			<table border="0">
			<tbody>
				<tr>	<td> Полис: </td>		<td>
					№ <i> {{ policy.id }} </i>
					от <i> {{ policy.date }} </i>
					, состояние: {{ policy.state }}
				</td>	</tr>
				<tr>	<td> Программа: </td>		<td> {{ policy.program.name }} </td>	</tr>
				<tr>	<td> Страхователь: </td>	<td>
					{% ifequal policy.isorg True %} (ЮЛ) {% endifequal %} <i> {{ policy.insurant }} </i>
				{% ifnotequal policy.isorg True %}
					, Дата рождения:	<i> {{ policy.datebirth }} </i>
				{% endifnotequal %}
					, Адрес:	<i> {{ policy.address }} </i>
					, Телефон:	<i> {{ policy.phone }} </i>
				</td>	</tr>
				<tr>	<td> Срок действия: </td>	<td>
					с:		<i> {{ policy.dateeff }} </i>
					, по:	<i> {{ policy.dateexp }} </i>
					, дней:		<i> {{ policy.days }} </i>
				</td>	</tr>
				<tr>	<td> Страховая сумма: </td>	<td>
								<i> {{ policy.sumper }} </i>
								<i> {{ policy.currency }} </i> x
								<i> {{ policy.course }} </i> =
				</td>	<td>
				<tr>	<td> Тариф: </td>		<td> {{ policy.rate }} {% ifequal policy.fixrate True %} (фикс.) {% endifequal %} </td>	</tr>
				<tr>	<td> Отказ: </td>		<td> {{ policy.refusal }} </td>	</tr>
				<tr>	<td> Особые условия: </td>	<td> {{ policy.terms }} </td>	</tr>
				<tr>	<td> Выдано: </td>		<td> <i> {{ policy.issueplace }} </i>, <i> {{ policy.issuedate }} </i> </td>	</tr>
				<tr>	<td> Договор: </td>		<td> № <i> {{ policy.contractno }} </i> от <i> {{ policy.contractdate }} </i> </td>	</tr>
				<tr>	<td> Доверенность: </td>	<td> № <i> {{ policy.attorneyno }} </i> от <i> {{ policy.attorneydate }} </i> </td>	</tr>
				<tr>	<td> Премия: </td>		<td> {{ policy.premium }} </td>	</tr>
				<tr>	<td> КВ: </td>			<td> {{ policy.reward }} </td>	</tr>
				<tr>	<td valign="top"> Территория: </td>	<td>
					<ul>
					{% for i in policy.territory.all %}
						<li> {{ i.asstr }} </li>
					{% endfor %}
					</ul>
				</td>	</tr>
				<tr>	<td valign="top"> Коэффициенты: </td>	<td>
					<ul>
					{% for i in policy.ratios.all %}
						<li> {{ i.name }}: {{ i.value }} ({{ i.comments }}) </li>
					{% endfor %}
					{% ifnotequal policy.freeratio Null %}
						<li> Свободный: {{ policy.freeratio }} </li>
					{% endifnotequal %}
					</ul>
				</td>	</tr>
				<tr>	<td> Застрахованные: </td>	<td>
					<ul>
					{% for i in insured_list %}
						<li> {{ i.asstr }} </li>
					{% endfor %}
					</ul>
				</td>	</tr>
			</tbody>
			</table>
<table border="0">
<tr>
<td> <a href="edit/"> Редактировать </a> </td>
<td> <a href="html/"> HTML </a> </td>
<td> <a href="pdf/"> PDF </a> </td>
<td> <a href="pdfmsk/"> PDF (МСК) </a> </td>
</tr> </table>
