{% extends "employee/rs_base.html" %}
{% block title %} График дня недели {% endblock %}
{% block header %} График дня недели {% endblock %}
{% block jsready %}
  {{ super() }}
  $("#id_begtime").mask("99:99");
  $("#id_endtime").mask("99:99");
{% endblock %}
{% block rs_head %}
  <p style="margin: 0; text-align: center">
  {% for i in dows %}
    {% if i == dow %}
      <span style="border: 1px solid grey; margin-left: 2px; background-color: silver;"> {{ i }} </span>
    {% else %}
      <a href="{{ url_for('rs_dow', rs.id, i.pk) }}" style="border: 1px solid grey; margin-left: 2px;"> {{ i }} </a>
    {% endif %}
  {% endfor %}
  (с {{ rs.begdate|date }})
  </p>
{% endblock %}
{% block rs_leftmenu %}
  <form method="post" action=".">
    {{ form.non_field_errors() }}
    {% for hidden in form.hidden_fields() %}
      {{ hidden }}
    {% endfor %}
    <table>
      <tr>
        <td> {{ form.room }} </td>
        <td> {{ form.begtime }} </td>
        <td> - </td>
        <td> {{ form.endtime }} </td>
      </tr>
      <tr>
        <td> </td>
        <td> {{ form.begtime.errors }} </td>
        <td> </td>
        <td> {{ form.endtime.errors }} </td>
      </tr>
      <tr>
        <td colspan="4"> {{ form.specialty }} </td>
      </tr>
    </table>
    <button type="submit" title="Add/Save"> &radic; </button>
    <a href="."> <button type="button" title="Cancel/Clear"> x </button> </a>
    {% if rse %}
      <a href="{{ url_for('rse_dow_del', rse.pk) }}"> <button type="button" title="Удалить"> - </button> </a>
    {% endif %}
  </form>
{% endblock %}

{% block svg %}
  {{ svg_dow(dow, rse) }}
{% endblock %}
