{% extends "employee/rs_base.html" %}
{% block rs_head %}
    <p> График {{ dow.name }} (с {{ rs.begdate|date }}): </p>
    <p> Еще дней: {% for i in dows %}
        {% if i == dow %}
            {{ i.pk }}
        {% else %}
            <a href="{{ url_for('rs_dow', rs.id, i.pk) }}"> {{ i.pk }} </a>
        {% endif %}
    {% endfor %} </p>
{% endblock %}
{% block rs_leftmenu %}
	    <a href="{{ url_for('rse_dow_add', rs.id, dow.pk) }}"> <button type="button"> Add slot </button> </a>
{% endblock %}
{% block rs_hgrid %}
  {% for r in rooms %}
	  {% set x = hx + (loop.index0 * dx) %}
    <!-- grid -->
	  <line x1="{{x}}%" y1="0" y2="100%" x2="{{x}}%"/>
    <g class="hcenter">
      <a xlink:href="{{ url_for('rs_room', rs.id, r.pk) }}" xlink:title="ГК для {{ r.pk }}">
        <text x="{{x+(dx/2.0)}}%" y="0"> <tspan dy="1.5ex"> каб. №{{ r.pk }} </tspan> </text>
      </a>
    </g>
    <!-- slots -->
    <g class="occupy">
      {% for entry in rse.filter(room=r) %}
        {% set y = hy+(((entry.begtime/60.0)-hbeg)*dy) %}
        <a xlink:href="{{ url_for('rse_dow_edit', entry.pk) }}" xlink:title="Edit this entry">
          <rect
            x="{{x}}%"
            y="{{y}}%"
            width="{{dx}}%"
            height="{{(entry.endtime-entry.begtime)/60.0*dy}}%"
            rx="3" ry="3"
          >
            <title> {{ entry.specialty.name }} </title>
          </rect>
        </a>
        {% set xt = x+(dx/2.0) %}
        <text
            x="{{xt}}%"
            y="{{y}}%"
        > {% for t in entry.specialty.get_name_wrapped() %}
          <tspan x="{{xt}}%" dy="1.5ex"> {{ t }} </tspan>
          {% endfor %}
        </text>
      {% endfor %}
    </g>
  {% endfor %}
{% endblock %}
