{% extends "sro2/permit_base.html" %}
{% block sidebar %}
	<center> <h1>
		<a href="{% url lansite.views.index %}">LanSite</a> &gt;
		<a href="{% url lansite.sro2.views.index %}"> СРО </a> &gt;
		<a href="{% url lansite.sro2.views.org_list %}"> Организации </a> &gt;
		<a href="{% url lansite.sro2.views.org_view org.id %}"> {{ org.asstr }} </a> &gt;
		Разрешение
	</h1> </center>
{% endblock %}
{% block main %}
	<form action="." method="post">
	<table>
		<tr> <td> Тип: </td> <td> {{ permittype.name }} </td> </tr>
		{{ form.as_table }}
	</table>
	<input type="submit" value="Записать"/> </td>
	<input type="button" value="Отказаться" onClick="window.location.href='../..'"/>
	</form>
{% endblock %}
