{% extends "sro2/org_base.html" %}
{% block body_stuff_button %} {% endblock %}
{% block body_stuff %}
	<!-- deletable -->
	<table border="0">
		<tr>
			<th> ФИО </th>
			<th> Должность </th>
			<th title="Руководитель"> Рук. </th>
			<th title="Постоянное место работы"> Пост. </th>
			<th/>
		</tr>
	{% for i in stuff %}
		<tr>
			<td> {{ i.person.asstr }} </td>
			<td> {{ i.role.asstr }} </td>
			<td align="center"> [{% ifequal i.leader 1 %} V {% else %} &nbsp; {% endifequal %}] </td>
			<td align="center"> [{% ifequal i.permanent 1 %} V {% else %} &nbsp; {% endifequal %}] </td>
			<td> {% if perms.sro.delete_orgstuff %} <input type="button" value="X" title="Удалить" onClick="confirmDelete('{% url lansite.sro2.views.org_edit_stuff_del org.id, i.id %}#stuff')"/> {% endif %} </td>
		</tr>
	{% endfor %}
	<!-- add -->
	{% if perms.sro.add_orgstuff %}
		<form action=".#stuff" method="POST">
		<tr>
			<td>
				<div class="fieldWrapper">
					{{ form.person.errors }}
					{{ form.person }}
				</div>
			</td>
			<td>
				<div class="fieldWrapper">
					{{ form.role.errors }}
					{{ form.role }}
				</div>
			</td>
			<td align="center">
				<div class="fieldWrapper">
					{{ form.leader.errors }}
					{{ form.leader }}
				</div>
			</td>
			<td align="center">
				<div class="fieldWrapper">
					{{ form.permanent.errors }}
					{{ form.permanent }}
				</div>
			</td>
			<td>
				<input type="submit" value="+" />
			</td>
		</tr>
		</form>
	{% endif %}
		<tr bgcolor="lightgrey">
			<th> ФИО </th>
			<th> Должность </th>
			<th colspan="2"/>
		</tr>
		<tr>
		{% if perms.sro.add_person %}
			<td colspan>
				<form action="add_person/#stuff" method="POST">
				<div class="fieldWrapper">
					{{ form_person.lastname.errors }}
					Ф:
					{{ form_person.lastname }}
				</div>
				<div class="fieldWrapper">
					{{ form_person.firstname.errors }}
					И:
					{{ form_person.firstname }}
				</div>
				<div class="fieldWrapper">
					{{ form_person.midname.errors }}
					О:
					{{ form_person.midname }}
				</div>
				<center><input type="submit" value="Добавить в список" title="Добавить нового человека"/></center>
				</form>
			</td>
		{% endif %}
		{% if perms.sro.add_role %}
			<td valign="top">
				<form action="add_role/#stuff" method="POST">
				<div class="fieldWrapper">
					{{ form_role.name.label_tag }}:
					{{ form_role.name.errors }}
					{{ form_role.name }}
				</div>
				<div class="fieldWrapper">
					{{ form_role.comments.label_tag }}:
					{{ form_role.comments.errors }}
					{{ form_role.comments }}
				</div>
				<center><input type="submit" value="Добавить в список" title="Добавить новую должность"/></center>
				</form>
			</td>
		{% endif %}
			<td/>
		</tr>
	</table>
	<input type="button" value="Закончить" onClick="window.location.href='{% url lansite.sro2.views.org_view org.id %}#stuff'"/>
{% endblock %}
