<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>LanSite.СРО.Организации</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="base.css" type="text/css" />
</head>
<body>
<script langauge="JavaScript" type="text/javascript">
function confirmDelete(delUrl) {
	if (confirm("Are you sure you want to delete")) {
		document.location = delUrl;
	}
}
</script>

<center> <h1> <a href="{% url lansite.views.index %}">LanSite</a> &gt; <a href="{% url lansite.sro2.views.index %}"> СРО </a> &gt; Организации </h1> </center>
<hr/>
{% if perms.sro.add_org %}
<input type="button" value="+" title="Добавить" onClick="window.location.href='{% url lansite.sro2.views.org_add %}'"/>
{% endif %}
	<table border="0">
	<thead>
		<form method="POST">
		<tr>
			<th> <u>№</u> </th>
			<th> <u> Наименование </u> </th>
			<th>
				<u> ОКАТО </u>
				{{ form.okato }}
			</th>
			<th>
				<u> Страхователь </u>
				{{ form.insurer }}
			</th>
			<th> <input type="submit" value="Все" title="Снять фильтр"/> </th>
		</tr>
		</form>
	</thead>
{% if org_list %}
	<tbody>
	{% for org in org_list %}
		<tr>
			<td> {{ forloop.counter }} </td>
			<td> <a href="{% url lansite.sro2.views.org_view org.id %}" title="{{ org.fullname }}">{{ org.name }} </td>
			<td> {% if org.okato %} {{ org.okato }} {% endif %} </td>
			<td> {% if org.orginsurance %} {{ org.orginsurance.insurer }} {% endif %} </td>
			<td> {% if perms.sro.delete_org %} <input type="button" value="X" title="Удалить" onClick="confirmDelete('{% url lansite.sro2.views.org_del org.id %}')"/>  {% endif %} </td>
		</tr>
	{% endfor %}
	</tbody>
{% endif %}
	</table>
<hr/>
<p>
	[ <a title="Список организаций для размещения на вебсайте" href="{% url lansite.sro2.views.org_publish %}"> Просмотр </a> ]
	[ <a title="Размещение на вебсайте" href="{% url lansite.sro2.views.org_upload %}"> Публикация </a> ]
	[ <a title="Список членов в табличном виде" href="{% url lansite.sro2.views.org_table %}"> Таблица </a> ]
	[ <a title="URL для рассылки электромыла всем" href="{% url lansite.sro2.views.org_mailto %}"> Мыло всем </a> ]
</p>
</body>
</html>
