$def with (root)
<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<body>
<center> <h1> <a href="$root/"> TheStorage </a> > <a href="$root/soft"> Software </a> > Settings </h1> </center>
<form>
<table border="1">
<thead> <tr> <th> Name </th> <th> Value </th> </tr>
<tbody>
	<tr>
		<td> Fields to show: </td>
		<td>
			<input type="checkbox" name="show" value="id" id="id"/> Id <br/>
			<input type="checkbox" name="show" value="platformid"/> Platform Id <br/>
			<input type="checkbox" name="show" value="platformname"/> Platform Name <br/>
			<input type="checkbox" name="show" value="platformcomments"/> Platform Comments <br/>
			<input type="checkbox" name="show" value="vendorid"/> Vendor Id <br/>
			<input type="checkbox" name="show" value="vendorname"/> Vendor Name <br/>
			<input type="checkbox" name="show" value="vendorcomments"/> Vendor Comments <br/>
			<input type="checkbox" name="show" value="distribid"/> Distrib Id <br/>
			<input type="checkbox" name="show" value="distribname"/> Distrib Name <br/>
			<input type="checkbox" name="show" value="distribcomments"/> Distrib Comments <br/>
			<input type="checkbox" name="show" value="size"/> Size <br/>
			<input type="checkbox" name="show" value="datetime"/> Date/Time <br/>
			<input type="checkbox" name="show" value="md5"/> MD5 <br/>
			<input type="checkbox" name="show" value="mime"/> Mime <br/>
			<input type="checkbox" name="show" value="origfn"/> Original Filename <br/>
			<input type="checkbox" name="show" value="comments"/> Comments <br/>
		</td>
	</tr>
	<tr>
		<td> Sort: </td>
		<td> Platfor/Vendor/Distrib/Name </td>
	</tr>
	<tr>
		<td> Filter: </td>
		<td> Platfor/Vendor/Distrib/Name </td>
	</tr>
	<tr>
		<td> Group: </td>
		<td> Platfor/Vendor/Distrib/Name </td>
	</tr>
	<tr>
		<td> Panels: </td>
		<td> Tree/... </td>
	</tr>
	<tr>
		<td> Records per page: </td>
		<td> <input type="text"/> </td>
	</tr>
</table>
<p> <input type="submit" value="OK" /> <input type="button" value="Cancel" onclick="javascript:window.location='/soft/main/list/'"/> </p>
</form>
</body>
</html>
