[Desktop Entry]
Icon=kfax
Actions=faxsplit
ServiceTypes=image/tiff,image/fax-g3
X-KDE-Priority=TopLevel

[Desktop Action faxsplit]
Icon=kfax
Exec=/usr/local/bin/faxsplit %U
Name=Split fax
Name[ru]=Разбить факс на страницы