{% extends "sro/org_base.html" %}
{% block body_phone_button %} <a href="../../view"> OK </a> {% endblock %}
{% block body_phone %}
	<form action="." method="post">
	<tr>	<td valign="top"> Телефоны: </td>	<td> <table>
		{% for i in org.phones.all %}
			<tr>
				<td> +{{ i.country }} </td>
				<td>  {{ i.trunk }} </td>
				<td>  {{ i.phone }} </td>
				<td> {% ifnotequal i.ext None %} #{{ i.ext }} {% endifnotequal %} </td>
				<td> <a href=""> X </a> </td>
			</tr>
		{% endfor %}
			<tr>
				<td> +<input type="input" maxlength="3" size="1"/> </td>
				<td>  <input type="input" maxlength="5" size="2"/> </td>
				<td>  <input type="input" maxlength="7" size="5"/> </td>
				<td> #<input type="input" maxlength="4" size="2"/> </td>
				<td>  <input type="button" value="+">  </td>
			</tr>
	</table> </td>	</tr>
	</form>
{% endblock %}
