<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
	<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>run1s server</title>
	<frameset  rows="40pt,*">
		<frame src="menu" name="menu">
		<frame name="contents">
	</frameset>
</head>
<body topmargin="0" leftmargin="0">
This page uses frames, but your browser doesn't support them.
</body>
</html>
