{# load templatetags #}
{% load static %}
{# load adminmedia #}
{% get_static_prefix as STATIC_URL %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title> CMS: {% block title %}{% endblock %} </title>
	<link type="text/css" href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/misc.js"></script>
	<!-- /admin -->
	{% block js %}
	{% endblock %}
	<script type="text/javascript">
		$(document).ready(function () {
			{% block jsready %}
			{% endblock %}
		})
	</script>
	<style type="text/css" >
	{% block css %}
	{% endblock %}
	</style>
</head>
<body>
<!--div id="topmenu"-->
<table id="topmenu"> <tr>
	<td> <div id="tm_home"> <a href="{% url index %}"> Home </a> </div> </td>
	<td> <div id="tm_patient"> <a href="{% url patient_index %}"> Поциэнты </a> </div> </td>
	<td> <div id="tm_employee"> <a href="{% url employee_index %}"> Сотрудники </a> </div> </td>
	<td> <div id="tm_core"> <a href="{% url core_index %}"> Ядро </a> </div> </td>
	<td> <div id="tm_ref"> <a href="{% url ref_index %}"> Справочники </a> </div> </td>
	<td style="width: 100%"> <div> <b> CMS </b> </div> </td>
	{% if user.is_authenticated %}
    <td> <div> {{ user.username }} : </div> </td>
    <td> <div> <a href="{% url django.contrib.auth.views.logout %}?next={% url index %}"> Выход </a> </div> </td>
    {% if user.is_superuser %}
    <td id="tm_admin"> <div> <a href="{% url admin:index %}"> Админка </a> </div> </td>
    {% endif %}
	{% else %}
	<td id="tm_login"> <div> <a href="{% url django.contrib.auth.views.login %}?next={% url index %}" rel="nofollow"> Вход </a> </div> </td>
	{% endif %}
</tr> </table>
<div>
{% block body_main %}
    <p> Dummy </p>
{% endblock %}
</div>
</body>
</html>
