[Desktop Entry]
Name=QEN
GenericName=Qt eGroupWare Notifier
Comment=KDE Menu entry for QEN
#Version=0.1
Type=Application
Categories=Qt;KDE;Internet;Network
Terminal=false
Encoding=UTF-8
Icon=QEN
Exec=QEN.py
#ServiceTypes=inode/directory
#Actions=Create;
#X-KDE-Submenu=Quamachi
#X-KDE-Priority=TopLevel
#X-KDE-Icon=tgz
X-KDE-StartupNotify=true
#X-DCOP-ServiceType=Unique
