<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
	<title>LanSite</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="base.css" type="text/css" />
</head>
<body>
<center>
	<h1> <a href="..">LanSite</a>.СРО </h1>
	<p><a href="../admin/sro/"> Админка </a></p>
	<p><a href="databrowse"> ДатаБраузер </a></p>
	<p><form enctype="multipart/form-data" method="POST" action="import/">
		Django:	
		<a href="export/"> Экспорт </a> /
		<input type="file" name="file" /><input type="submit" value="Import" />
	</form></p>
	<p><form enctype="multipart/form-data" method="POST" action="myimport/">
		My:
		<a href="myexport/"> Экспорт </a> /
		<input type="file" name="file" /><input type="submit" value="Import" />
	</form></p>
	<p><a href="delete/"> Удалить всё </a></p>
</center>
</body>
</html>
