<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>LanSite.СРО.Организации</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="base.css" type="text/css" />
</head>
<body>
<center> <h1> <a href="{% url lansite.views.index %}">LanSite</a> &gt; <a href="{% url lansite.sro.views.index %}"> СРО </a> &gt; Организации </h1> </center>
<hr/>
{% if org_list %}
	<table border="0">
	<thead>
		<tr> <th> <u>№</u> </th> <th> <u> Наименование </u> </th> <th/> </tr>
	</thead>
	<tbody>
	{% for org in org_list %}
		<tr>
			<td> {{ org.regno }} </td>
			<td>  <a href="{% url lansite.sro.views.org_view org.id %}" title="{{ org.fullname }}">{{ org.name }} </td>
			<td> <input type="button" value="X" title="Удалить" onClick="window.location.href='{% url lansite.sro.views.org_del org.id %}'"/> </td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
{% endif %}
<input type="button" value="+" title="Добавить" onClick="window.location.href='{% url lansite.sro.views.org_add %}'"/>
</body>
</html>
