<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>LanSite.СРО.Организации</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

<center> <h1> Организации </h1> </center>
	<table border="1">
	<thead>
		<tr>
			<th> <u>№</u> </th>
			<th> <u> Наименование </u> </th>
			<th> <u> ОКАТО </u> </th>
			<th> <u> Страхователь </u> </th>
			<th> <u> Договор </u> </th>
		</tr>
	</thead>
{% if org_list %}
	<tbody>
	{% for org in org_list %}
		<tr>
			<td> {{ forloop.counter }} </td>
			<td> {{ org.name }} </td>
			<td> {% if org.okato %} {{ org.okato }} {% endif %} </td>
			<td> {% if org.orginsurance %} {{ org.orginsurance.insurer.fullname }} {% endif %} </td>
			<td> {% if org.orginsurance %} {{ org.orginsurance.insno }} {% endif %} </td>
		</tr>
	{% endfor %}
	</tbody>
{% endif %}
	</table>
</body>
</html>
