<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>LanSite.СРО.Организации</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="org.css" type="text/css" />
</head>
<body>
{% block sidebar %}
	<center> <h1> <a href="../../../">LanSite</a> &gt; <a href="../../"> СРО </a> &gt; <a href="../"> Организации </a> &gt; {{ org.name }} </h1> </center>
{% endblock %}
<hr/>
<a name="main"/>
<h2> 1. Основные данные: {% block body_main_button %}  {% endblock %} </h2>
{% block body_main %}
	<table border="0">
		<tr>	<td> Кратко: </td>			<td> {{ org.name }} </td>	</tr>
		<tr>	<td> Полно: </td>			<td> {{ org.fullname }} </td>	</tr>
		<tr>	<td> ОКОПФ: </td>			<td> {{ org.okopf }} </td>	</tr>
		<tr>	<td> Дата регистрации: </td>		<td> {{ org.regdate }} </td>	</tr>
		<tr>	<td> ИНН: </td>				<td> {{ org.inn }} </td>	</tr>
		<tr>	<td> КПП: </td>				<td> {{ org.kpp }} </td>	</tr>
		<tr>	<td> ОГРН: </td>			<td> {{ org.ogrn }} </td>	</tr>
		<tr>	<td> Адрес юридический: </td>		<td> {{ org.laddress }} </td>	</tr>
		<tr>	<td> Адрес фактический: </td>		<td> {{ org.raddress }} </td>	</tr>
		<tr>	<td> Лицензия.№: </td>			<td> {{ org.licno }} </td>	</tr>
		<tr>	<td> действительна до: </td>		<td> {% ifnotequal org.licdue None %} {{ org.licdue }} {% endifnotequal %} </td>	</tr>
		<tr>	<td> Рег №: </td>			<td> {% ifnotequal org.regno None %} {{ org.regno }} {% endifnotequal %} </td>	</tr>
		<tr>	<td> Дата регистрации в СРО: </td>	<td> {% ifnotequal org.sroregdate None %} {{ org.sroregdate }} {% endifnotequal %} </td>	</tr>
	</table>
{% endblock %}
<hr/>
<a name="okved"/>
<h3> 1.1. ОКВЭД: {% block body_okved_button %}  {% endblock %} </h3>
{% block body_okved %}
	{% ifnotequal org.id None %}
	<ul>
	{% for i in org.okveds.all %}
		<li> {{ i.asstr }} </li>
	{% endfor %}
	</ul>
	{% endifnotequal %}
{% endblock %}
<hr/>
<a name="phone"/>
<h3> 1.2. Телефоны: {% block body_phone_button %}  {% endblock %} </h3>
{% block body_phone %}
	<ul>
	{% for i in phone %}
		<li> {{ i.asstr }} </li>
	{% endfor %}
	</ul>
{% endblock %}
<hr/>
<a name="email"/>
<h3> 1.3. Адреса электропочты: {% block body_email_button %}  {% endblock %} </h3>
{% block body_email %}
	<ul>
	{% for i in email %}
		<li> <a href="mailto:{{ i.asstr }}"> {{ i.asstr }} </a> </li>
	{% endfor %}
	</ul>
{% endblock %}
<hr/>
<a name="stuff"/>
<h2> 2. Персонал: {% block body_stuff_button %}  {% endblock %} </h2>
{% block body_stuff %}
	<table>
		<tr bgcolor="lightgrey">
			<th> ФИО </th>
			<th> Должность </th>
			<th> Начальство </th>
		</tr>
	{% for i in stuff %}
		<tr>
			<td> <a href="../../person/{{ i.person.id }}/"> {{ i.person.asstr }} </a> </td>
			<td> {{ i.role.asstr }} </td>
			<td align="center"> {% ifequal i.leader 1 %} &radic; {% endifequal %} </td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}
<hr/>
<a name="permit"/>
<h2> 3. Допуски: {% block body_permit_button %}  {% endblock %} </h2>
{% block body_permit %}
	<table>
		<tr bgcolor="lightgrey">
			<th> № </th>
			<th> Дата </th>
		</tr>
	{% for i in permit %}
		<tr>
			<td> <a href="permit/{{ i.id }}/"> {{ i.regno }} </a> </td>
			<td> {{ i.date }} </td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}
<hr/>
<a name="event"/>
<h2> 4. События: {% block body_event_button %}  {% endblock %} </h2>
{% block body_event %}
	<table>
		<tr bgcolor="lightgrey">
			<th> Дата </th>
			<th> Тип </th>
			<th> Комментарии </th>
		</tr>
	{% for i in event %}
		<tr>
			<td> {{ i.date }} </td>
			<td> {{ i.type.name }} </td>
			<td> {{ i.comments }} </td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}
<hr/>
<a name="file"/>
<h2> 5. Файлы: {% block body_file_button %}  {% endblock %} </h2>
{% block body_file %}
	<ul>
	{% for i in file %}
		<li> {{ i.asstr }} </i>
	{% endfor %}
	</ul>
{% endblock %}
</body>
</html>
