<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>LanSite.СРО.Организации</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<script langauge="JavaScript" type="text/javascript">
function doMenu(item) {
	obj=document.getElementById(item);
	col=document.getElementById("x" + item);
	if (obj.style.display=="none") {
		obj.style.display="block";
		col.innerHTML="[-]";
	}
	else {
		obj.style.display="none";
		col.innerHTML="[+]";
	}
}
</script>

{% for org in org_list %}
	<h1>
		<a href="JavaScript:doMenu('{{ org.id }}');" id=x{{ org.id }}>[+]</a>
		{{ org.name }}
	</h1>
	<div id={{ org.id }} style="display:none">
	<!-- main -->
	<table width="100%" border="0" bgcolor="lightgrey"><tr><td><h2> 1. Основные данные: </h2></td></tr></table>
	<table border="0">
		<tr>	<td> Краткое наименование: </td>	<td> {{ org.name }} </td>		</tr>
		<tr>	<td> Полное наименование: </td>		<td> {{ org.fullname }} </td>		</tr>
		<tr>	<td> ОКОПФ: </td>			<td> {{ org.okopf }} </td>		</tr>
		<tr>	<td> Дата регистрации: </td>		<td> {{ org.egruldate|date }} </td>	</tr>
		<tr>	<td> ИНН: </td>				<td> {{ org.inn }} </td>		</tr>
		<tr>	<td> КПП: </td>				<td> {{ org.kpp }} </td>		</tr>
		<tr>	<td> ОГРН: </td>			<td> {{ org.ogrn }} </td>		</tr>
		<tr>	<td> Адрес юридический: </td>		<td> {{ org.laddress }} </td>		</tr>
		<tr>	<td> Адрес фактический: </td>		<td> {{ org.raddress }} </td>		</tr>
		<tr>	<td> Рег №: </td>			<td> {{ org.sroregno }} </td>		</tr>
		<tr>	<td> Дата регистрации в СРО: </td>	<td> {{ org.sroregdate|date }} </td>	</tr>
		<tr>	<td> Дата оплаты взноса: </td>		<td> {{ org.paydate|date }} </td>	</tr>
		<tr>	<td> Сумма взноса: </td>		<td> {{ org.paysum }} </td>		</tr>
		<tr>	<td> Лицензия: </td>	<td>
			{% if license %}
				№ {{ license.regno }} от {{ license.datefrom|date }} по {{ license.datedue|date }}
				{% block body_license_del_button %} {% endblock %}
			{% else %}
				Нет
				{% block body_license_add_button %} {% endblock %}
			{% endif %}
		</td>	</tr>
		<tr>	<td> Страховка: </td>	<td>
			{% if insurance %}
				№ {{ insurance.insno }} от {{ insurance.insdate|date }} на {{ insurance.insum }} руб. в {{ insurance.insurer }}
				{% block body_insurance_del_button %} {% endblock %}
			{% else %}
				Нет
				{% block body_insurance_add_button %} {% endblock %}
			{% endif %}
		</td>	</tr>
	</table>
	<!-- okved -->
	<table width="100%" border="0" bgcolor="lightgrey"><tr><td><h3> 1.1. ОКВЭД: </h3></td></tr></table>
	{% if org.okveds.all %}
		<ul>
		{% for i in org.okveds.all %}
			<li> {{ i.asstr }} </li>
		{% endfor %}
		</ul>
	{% endif %}
	<!-- phone -->
	<table width="100%" border="0" bgcolor="lightgrey"><tr><td><h3> 1.2. Телефоны: </h3></td></tr></table>
	{% if org.orgphone_set.all %}
		<ul>
		{% for i in org.orgphone_set.all %}
			<li> {{ i.asstr }} </li>
		{% endfor %}
		</ul>
	{% endif %}
	<!-- email -->
	<table width="100%" border="0" bgcolor="lightgrey"><tr><td><h3> 1.3. Email: </h3></td></tr></table>
	{% if org.orgemail_set.all %}
		<ul>
		{% for i in org.orgemail_set.all %}
			<li> {{ i.asstr }} </li>
		{% endfor %}
		</ul>
	{% endif %}
	<!-- www -->
	<table width="100%" border="0" bgcolor="lightgrey"><tr><td><h3> 1.4. WWW: </h3></td></tr></table>
	{% if org.orgwww_set.all %}
		<ul>
		{% for i in org.orgwww_set.all %}
			<li> {{ i.asstr }} </li>
		{% endfor %}
		</ul>
	{% endif %}
	<!-- stuff -->
	<table width="100%" border="0" bgcolor="lightgrey"><tr><td><h2> 2. Персонал: </h2></td></tr></table>
	{% if org.orgstuff_set.all %}
		<table>
			<tr>
				<th> ФИО </th>
				<th> Должность </th>
			</tr>
		{% for i in org.orgstuff_set.all %}
			{% ifequal i.leader 1 %}
			<tr>
				<td> {{ i.person.asstr }} </td>
				<td> {{ i.role.asstr }} </td>
			</tr>
			{% endifequal %}
		{% endfor %}
		</table>
	{% endif %}
	<!-- permit -->
	<table width="100%" border="0" bgcolor="lightgrey"><tr><td><h2> 3. Допуски: </h2></td></tr></table>
	{% if org.permit_set.all %}
		<table>
			<tr>
				<th> № </th>
				<th> Дата </th>
			</tr>
		{% for i in org.permit_set.all %}
			<tr>
				<td> {{ i.regno }} </td>
				<td> {{ i.date|date }} </td>
			</tr>
		{% endfor %}
		</table>
	{% endif %}
	</div>
{% endfor %}
</body>
</html>
