{% extends "sro/org_base.html" %}
{% block body_permit %}
	<table>
		<tr>
			<th> № </th>
			<th> Дата </th>
			<th/>
			<th/>
		</tr>
	{% for i in permit %}
		<tr>
			<td> {{ i.regno }} </td>
			<td> {{ i.date|date }} </td>
			<td> <input type="button" value="X" onClick="window.location.href='{% url lansite.sro.views.org_edit_permit_del org.id, i.id %}#permit'"/> </td>
		</tr>
	{% endfor %}
	<!-- add -->
	<form action=".#permit" method="POST">
	<tr>
		<td>
			<div class="fieldWrapper">
				{{ form.regno.errors }}
				{{ form.regno }}
			</div>
		</td>
		<td>
			<div class="fieldWrapper">
				{{ form.date.errors }}
				{{ form.date }}
			</div>
		</td>
		<td> <input type="submit" value="+" /> </td>
		<!-- <a href="javascript:document.formname­ .submit()">+</a> -->
	</tr>
	</form>
	</table>
	<input type="button" value="Закончить" onClick="window.location.href='{% url lansite.sro.views.org_view org.id %}#okved'"/>
{% endblock %}
