<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Реестр</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<table border="1">
<thead> <tr>
	<th> № п/п </th>
	<th> Краткое наименование </th>
	<th> Полное наименование </th>
	<th> ОКОПФ </th>
	<th> Дата в ЕГРЮЛ </th>
	<th> ИНН </th>
	<th> КПП </th>
	<th> ОГРН </th>
	<th> ОКАТО </th>
	<th> Адрес юридический </th>
	<th> Адрес фактический </th>
	<th> Телефоны </th>
	<th> Email </th>
	<th> WWW </th>
	<th> Руководство </th>
	<th> С. реестровый # </th>
	<th> С. Дата членства в НП </th>
	<th> С. Дата оплаты взноса в КФ </th>
	<th> С. Сумма взноса в КФ </th>
	<th> С. Дата оплаты ВВ </th>
	<th> С. Публиковать </th>
	<th> С. Л. # </th>
	<th> С. Л. с </th>
	<th> С. Л. по </th>
	<th> С. С. страховщик </th>
	<th> С. С. Дог. # </th>
	<th> С. С. Дог. от </th>
	<th> С. С. Дог. по </th>
	<th> С. С. Сумма </th>
	<th>  </th>
</tr> </thead>
<tbody>
{% for org in org_list %}
<tr>
	<td> {{ forloop.counter }} </td>
	<td> {{ org.name }} </td>
	<td> {{ org.fullname }} </td>
	<td> {{ org.okopf }} </td>
	<td> {{ org.egruldate|date }} </td>
	<td> {{ org.inn|stringformat:"010d" }} </td>
	<td> {{ org.kpp }} </td>
	<td> {{ org.ogrn }} </td>
	<td> {{ org.okato }} </td>
	<td> {{ org.laddress }} </td>
	<td> {{ org.raddress }} </td>
	<td> {% if org.orgphone_set.all %} {% for i in org.orgphone_set.all %} <p> {{ i.asstr }} </p> {% endfor %} {% endif %} </td>
	<td> {% if org.orgemail_set.all %} {% for i in org.orgemail_set.all %} <p> <a href="mailto:{{ i.asstr }}"> {{ i.asstr }} </a> </p> {% endfor %} {% endif %} </td>
	<td> {% if org.orgwww_set.all %} {% for i in org.orgwww_set.all %} <p> <a href="http://{{ i.asstr }}"> {{ i.asstr }} </a> </p> {% endfor %} {% endif %} </td>
	<td> {% if org.orgstuff_set.all %} {% for i in org.orgstuff_set.all %} {% ifequal i.leader 1 %} <p> {{ i.role.asstr }} {{ i.person.asstr }} </p> {% endifequal %} {% endfor %} {% endif %} </td>
	<td> {{ org.sroregno }} </td>
	<td> {{ org.sroregdate|date }} </td>
	<td> {{ org.paydate|date }} </td>
	<td> {{ org.paysum }} </td>
	<td> {{ org.paydatevv|date }} </td>
	<td> {{ org.public }} </td>
	{% if org.orglicense %}
	<td> {{ org.orglicense.no }} </td>
	<td> {{ org.orglicense.datefrom|date }} </td>
	<td> {{ org.orglicense.datedue|date }} </td>
	{% else %}
	<td/> <td/> <td/>
	{% endif %}
	{% if org.orginsurance %}
	<td> {{ org.orginsurance.insurer }} </td>
	<td> {{ org.orginsurance.insno }} </td>
	<td> {{ org.orginsurance.insdate|date }} </td>
	<td> {{ org.orginsurance.datetill|date }} </td>
	<td> {{ org.orginsurance.insum }} </td>
	{% else %}
	<td/> <td/> <td/> <td/> <td/>
	{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
</body>
</html>
