<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>LanSite.СРО.Организации.Разрешение</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="org.css" type="text/css" />
</head>
<body>
{% block sidebar %}
	<center> <h1>
		<a href="{% url lansite.views.index %}">LanSite</a> &gt;
		<a href="{% url lansite.sro.views.index %}"> СРО </a> &gt;
		<a href="{% url lansite.sro.views.org %}"> Организации </a> &gt;
		Разрешение
	</h1> </center>
{% endblock %}
<hr/>
<h1> Основные данные: </h1>
<table border="0">
	<tr> <td> Организация: </td>	<td> {{ permit.org.asstr }} </td> </tr>
	<tr> <td> Рег. №: </td>		<td> {{ permit.regno }} </td> </tr>
	<tr> <td> Дата: </td>		<td> {{ permit.date }} </td> </tr>
</table>
<hr/>
<h1> Виды работ: </h1>
{% block main %}
{% endblock %}
</body>
</html>
