{% extends "sro/permit_base.html" %}
{% block main %}
<form action=".#{{ id }}" method="POST">
<input type="submit" value="OK" />
<table border="0">
{% for s, sflag in stages %}
	<a name="{{ s.id }}"/>
	<tr>
		{% ifequal s.id id %}
			<td> <a href="{% url lansite.sro.views.permit_list permit.id %}#{{ s.id }}"> - </a> </td>
			<td align="center"> <div class="fieldWrapper"> {{ form.stage }} </div> </td>
		{% else %}
			<td> <a href="{% url lansite.sro.views.permit_view permit.id, s.id %}#{{ s.id }}"> + </a> </td>
			<td align="center"> {% ifequal sflag 1 %} &radic; {% endifequal %} </td>
		{% endifequal %}
		<td> {{ s.id }} </td>
		<td> {{ s.name }} </td>
	<tr>
	{% ifequal s.id id %}
		{% for j, jflag in jobs %}
			<tr>
				<td />
				<td align="center"> <div class="fieldWrapper"> {{ form.jobs }} </div> </td>
				<td> {{ j.id }} </td>
				<td> {{ j.name }} </td>
			<tr>
		{% endfor %}
	{% endifequal %}
{% endfor %}
</table>
</form>
{% endblock %}
