{% extends "sro/permit_base.html" %}
{% block main %}

<script type="text/javascript" language="JavaScript">
<!--
function GroupClicked () {
	state = document.myform.g.checked;
	items = document.myform.id;
	for (i = 0; i < items.length; i++) {
		if (items[i].checked != state) {
			items[i].checked = state;
		}
	}
}
function ItemClicked (item) {
	if (item.checked == true) {
		if (document.myform.g.checked == false) {	// if this is first item
			document.myform.g.checked = true;
		}
	}
	else {	// item off
		items = document.myform.id;
		flag = false;
		for (i = 0; i < items.length; i++) {
			if (items[i].checked == true) {
				flag = true;
				break;
			}
		}
		if ((flag == false) && (document.myform.g.checked == true)) {
			document.myform.g.checked = false;
		}
	}
}
//-->
</script>

<form name="myform" action=".#{{ id }}" method="POST">
<table border="0">
	<tr bgcolor="lightgrey">
		<th align="center"> <input type="checkbox" name="g" {% ifequal sflag 1 %} checked {% endifequal %} onClick="GroupClicked();" /> </td>
		<th> {{ stage.id }} </td>
		<th> {{ stage.name }} </td>
	<tr>
	{% for j, jflag in jobs %}
	<tr>
		<td align="center"> <input type="checkbox" name="id" value="{{ j.id }}" {% ifequal jflag 1 %} checked {% endifequal %} onClick="ItemClicked(this);" /> </td>
		<td> {{ j.id }} </td>
		<td> {{ j.name }} </td>
	<tr>
	{% endfor %}
</table>
<input type="submit" value="Сохранить и выйти" />
<input type="button" value="Выйти без сохранения" onClick="window.location.href='{% url lansite.sro.views.permit_list permit.id %}'"/> </td>
</form>
{% endblock %}
