{% extends "sro/permit_base.html" %}
{% block main %}
<table border="0">
{% for s, sflag in stages %}
	<a name="{{ s.id }}"/>
	<tr>
		<td> <a href="{% url lansite.sro.views.permit_edit permit.id, s.id %}#{{ s.id }}"> E </a> </td>
		<td> {% ifequal s.id id %} <a href="{% url lansite.sro.views.permit_list permit.id %}#{{ s.id }}"> - </a> {% else %} <a href="{% url lansite.sro.views.permit_view permit.id, s.id %}#{{ s.id }}"> + </a> {% endifequal %} </td>
		<td align="center"> {% ifequal sflag 1 %} &radic; {% endifequal %} </td>
		<td> {{ s.id }} </td>
		<td> {{ s.name }} </td>
	<tr>
	{% ifequal s.id id %}
		{% for j, jflag in jobs %}
			<tr>
				<td colspan="2"/>
				<td align="center"> {% ifequal jflag 1 %} &radic; {% endifequal %} </td>
				<td> {{ j.id }} </td>
				<td> {{ j.name }} </td>
			<tr>
		{% endfor %}
	{% endifequal %}
{% endfor %}
</table>
{% endblock %}
