<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Реестр</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<table border="1">
<thead> <tr>
	<th> № п/п </th>
	<th> Краткое наименование </th>
	<th> Полное наименование </th>
	<th> ОКАТО </th>
	<th> Адрес юридический </th>
	<th> Адрес фактический </th>
	<th> Телефоны </th>
	<th> Email </th>
	<th> Руководство </th>
</tr> </thead>
<tbody>
{% for org in org_list %}
<tr>
	<td> {{ forloop.counter }} </td>
	<td> {{ org.name }} </td>
	<td> {{ org.fullname }} </td>
	<td> {{ org.okato }} </td>
	<td> {{ org.laddress }} </td>
	<td> {{ org.raddress }} </td>
	<td>	<!-- phone -->
	{% if org.orgphone_set.all %}
		{% for i in org.orgphone_set.all %}
			<p> {{ i.asstr }} </p>
		{% endfor %}
	{% endif %}
	</td>
	<td>	<!-- email -->
	{% if org.orgemail_set.all %}
		{% for i in org.orgemail_set.all %}
			<p> <a href="mailto:{{ i.asstr }}"> {{ i.asstr }} </a> </p>
		{% endfor %}
	{% endif %}
	</td>
	<td>	<!-- stuff -->
	{% if org.orgstuff_set.all %}
		{% for i in org.orgstuff_set.all %}
			{% ifequal i.leader 1 %}
				<p> {{ i.role.asstr }} {{ i.person.asstr }} </p>
			{% endifequal %}
		{% endfor %}
	{% endif %}
	</td>
</tr>
{% endfor %}
</tbody>
</table>
</body>
</html>
