{% extends "sro/org_base.html" %}
{% block body_permit_button %} <a href="{% url lansite.sro.views.org_view org.id %}"> OK </a> {% endblock %}
{% block body_permit %}
	<!-- deletable -->
	<table>
		<tr bgcolor="lightgrey">
			<th/>
			<th> № </th>
			<th> Дата </th>
		</tr>
	{% for i in permit %}
		<tr>
			<td> <a href="{% url lansite.sro.views.org_edit_permit_del org.id, i.id %}#permit"> X </a> </td>
			<td> {{ i.id }} </td>
			<td> {{ i.date }} </td>
		</tr>
	{% endfor %}
	</table>
	<!-- add -->
	<form action=".#permit" method="POST">
	<table>
	{{ form.as_table }}
	</table>
	<input type="submit" value="+" />
	<!-- <a href="javascript:document.formname­ .submit()">+</a> -->
	</form>
{% endblock %}
