{% extends "sro/org_base.html" %}
{% block body_phone %}
	<table border="0">
	{% for i in phone %}
		<tr>
			<td> {{ i.asstr }} </td>
			<td> {% if perms.sro.delete_orgphone %} <input type="button" value="X" onClick="confirmDelete('{% url lansite.sro.views.org_edit_phone_del org.id, i.id %}#phone')"/> {% endif %} </td>
		</tr>
	{% endfor %}
	{% if perms.sro.add_orgphone %}
		<form action=".#phone" method="POST">
		<tr>
			<td> {{ form.as_p }} </td>
			<td> <input type="submit" value="+" /> </td>
		</tr>
		</form>
	{% endif %}
	</table>
<input type="button" value="Закончить" onClick="window.location.href='{% url lansite.sro.views.org_view org.id %}#phone'"/>
{% endblock %}
