{% extends "sro/permit_base.html" %}
{% block main %}
<script langauge="JavaScript" type="text/javascript">
function doMenu(item) {
	obj=document.getElementById(item);
	col=document.getElementById("x" + item);
	if (obj.style.display=="none") {
		obj.style.display="block";
		col.innerHTML="[-]";
	}
	else {
		obj.style.display="none";
		col.innerHTML="[+]";
	}
}
</script>

<table border="0">
{% for s, sflag, jobs in stages %}
	<a name="{{ s.id }}"/>
	<tr {% if forloop.counter|divisibleby:2 %} bgcolor="lightgrey" {% endif %}>
		<td valign="top"> {% if jobs %} <a href="JavaScript:doMenu('{{ s.id }}');" id=x{{ s.id }}>[+]</a> {% endif %} </td>
		<td align="center" valign="top"> {% ifequal sflag 1 %} &radic; {% endifequal %} </td>
		<td valign="top"> {{ s.id }} </td>
		<td> {{ s.name }}
			<div id={{ s.id }} style="display:none">
				{% for j, jflag in jobs %}
					<p> {% ifequal jflag 1 %} &radic; {% else %} &nbsp; {% endifequal %} {{ j.id }}: {{ j.name }} </p>
				{% endfor %}
			</div>
		</td>
		<td valign="top"> <input type="button" value="Изменить" onClick="window.location.href='{% url lansite.sro.views.permit_edit permit.id, s.id %}'"/> </td>
	<tr>
{% endfor %}
</table>
{% endblock %}
