<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>LanSite.СРО.Люди</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="base.css" type="text/css" />
</head>
<body>
<script langauge="JavaScript" type="text/javascript">
function confirmDelete(delUrl) {
	if (confirm("Are you sure you want to delete")) {
		document.location = delUrl;
	}
}
</script>

<center> <h1> <a href="{% url lansite.views.index %}">LanSite</a> &gt; <a href="{% url lansite.sro.views.index %}"> СРО </a> &gt; Люди </h1> </center>
<hr/>
{% if person_list %}
	<table border="0">
	<thead>
		<tr> <th> # </th> <th> <u>Фамилия</u> </th> <th> <u> Имя </u> </th> <th> <u> Отчество </u> </th> <th/> </tr>
	</thead>
	<tbody>
	{% for person in person_list %}
		<tr>
			<td>  {{ forloop.counter }} </td>
			<td> <a href="{% url lansite.sro.views.person_view person.id %}"> {{ person.lastname }} </a> </td>
			<td>  {{ person.firstname }} </td>
			<td>  {{ person.midname }} </td>
			<td> <input type="button" value="X" title="Удалить" onClick="confirmDelete('{% url lansite.sro.views.person_del person.id %}')"/> </td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
{% endif %}
</body>
</html>
