<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title> LanSite.СРО.Люди </title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="person.css" type="text/css" />
</head>
<body>
{% block sidebar %}
	<center> <h1>
		<a href="{% url lansite.views.index %}"> LanSite </a> &gt; 
		<a href="{% url lansite.sro.views.index %}"> СРО </a> &gt;
		<a href="{% url lansite.sro.views.person_list %}"> Люди </a> &gt;
		{{ person.getfio }}
	</h1> </center>
{% endblock %}
<a name="main"/>
<table width="100%" border="0" bgcolor="lightgrey"><tr><td><table><tr><td>{% block body_main_button %} {% endblock %}</td><td><h2> 1. Основные данные: </h2></td></tr></table></td></tr></table>
{% block body_main %}
	<table border="0">
		<tr>	<td> Фамилия: </td>	<td> {{ person.lastname }} </td>	</tr>
		<tr>	<td> Имя: </td>		<td> {{ person.firstname }} </td>	</tr>
		<tr>	<td> Отчество: </td>	<td> {{ person.midname }} </td>	</tr>
	</table>
{% endblock %}
<a name="skill"/>
<table width="100%" border="0" bgcolor="lightgrey"><tr><td><table><tr><td> {% block body_skill_button %} {% endblock %} </td><td><h2> 2. Квалификация: </h2></td></tr></table></td></tr></table>
{% block body_skill %}
	{% if person_skill %}
		<ul>
		{% for i in person_skill %}
			<li> {{ i.speciality.name }}, {{ i.skill.name }} </li>
		{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
<a name="org"/>
<table width="100%" border="0" bgcolor="lightgrey"><tr><td><table><tr><td> </td><td><h2> 3. Организации: </h2></td></tr></table></td></tr></table>
{% block body_org %}
	{% if person.org_set %}
		<ul>
		{% for i in person.orgstuff_set.all %}
			<li> <a href="{% url lansite.sro.views.org_view i.id %}"> {{ i.org }} </a> ({{ i.role }}, {% ifequal i.permanent 1 %} Постоянно {% else %} Совместитель {% endifequal %}) </li>
		{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
</body>
</html>
