{% extends "sro/person_base.html" %}
{% block body_main_button %}	{% if perms.sro.change_person %}	<input type="button" value="Изменить" onClick="window.location.href='{% url lansite.sro.views.person_main person.id %}#main'"/> {% endif %} {% endblock %}
{% block body_skill_button %}	{% if perms.sro.add_personskill or perms.sro.delete_personskill or perms.sro.change_personskill %}	<input type="button" value="Изменить" onClick="window.location.href='{% url lansite.sro.views.person_skill person.id %}#skill'"/> {% endif %} {% endblock %}
