.bold{
    font-weight: bold;
}

.button {
	border: outset;
	border-width: 2px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.bordered {
	border: 1px solid;
	padding: 0;
	margin: 0
}

/* ==== */
#topmenu {
    border-collapse: collapse;
	/*background-color: #EBEFF9;*/
	/*background-color: white;*/
	width: 100%;
	text-align: center;
    border-top: 3px solid #EBEFF9;
    border-bottom: none;
	/* border-top: 5px solid #EBEFF9; */
}
#topmenu td {
	/* border-bottom: 1px solid #6B90DA; */
    background-color: #EBEFF9;
    /*border: none;*/
    /*border-bottom: 1px solid #6B90DA;*/
    border: none;
	padding: 0;
	white-space: nowrap;
}
#topmenu div {
    padding: 3px 1em;
    border-bottom: 1px solid #6B90DA;
}
#topmenu div.active {
	border-top: 1px solid #6B90DA;
	border-left: 1px solid #6B90DA;
	border-right: 1px solid #6B90DA;
    border-bottom: 1px solid white;
	background-color: white;
}
#topmenu a:link {
	color: black;
    text-decoration: none;
}
#topmenu a:visited {
	color: black;
    text-decoration: none;
}
button.rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.even	{ background-color: white; }
.odd	{ background-color: #F0F0F0; }
.wide	{ width: 100%; }
.table	{ display: table; }
.row	{ display: table-row; }
.cell	{ display: table-cell; }
.center	{ text-align: center; }
.right	{ text-align: right; }
.bt	{ border-top: 1px solid black; }
.bb	{ border-bottom: 1px solid black; }
.bl	{ border-left: 1px solid black; }
.br	{ border-right: 1px solid black; }
.box	{ border: 1px solid black; }
.nobt	{ border-top: 0; }
.nobb	{ border-bottom: 0; }
.nobl	{ border-left: 0; }
.nobr	{ border-right: 0; }
.nobox	{ border: 0; }
.bold	{ font-weight: bold; }
