<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>LanSite</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="base.css" type="text/css" />
</head>
<body>
<center>
	<h1> LanSite </h1>
	<table width="100%" border="0"> <tr align="center" bgcolor="lightgrey">
		<!--td> <a href="gw"> GW </a> </td-->
		<!--td> <a href="insupol"> InsuPol </a> </td-->
		<!--td> <a href="run1s"> Run1s </a> </td-->
		<td> <a href="sro2"> СРО2 </a> </td>
		<td> <a href="todo"> ToDo </a> </td>
		<!-- td> <a href="ref"> Справочники </a> </td -->
		<!-- td> <a href="gw"> GW </a> </td -->
		<td> <a href="admin"> Администрирование </a> </td>
	</tr> </table>
</center>

<p> Пользователь: {% if user.is_authenticated %} {{ user.username }} <button> <a href="logout/"> Logout </a> </button> {% else %} anonymous {% endif %} </p>
</body>
</html>
