{% extends "gw/task/assign_base.html" %}
{% block body_main %}
<table border="0">
<tr>
	<td valign="top">
		<table>
		<tr> <th> Категории </th> <th> <a class="button" title="Добавить категорию" href="{% url gw.views.assigncat_add %}"> &nbsp; + &nbsp; </a> </th> <tr>
		{% for item in cat_list %}
			<tr>
				<td> <a href="{% url gw.views.assigncat_view item.id %}"> {{ item.name }} </a> </td>
				<td>
					<a class="button" title="Изменить" href="{% url gw.views.assigncat_edit item.id %}"> &nbsp; E &nbsp; </a>
					<a class="button" title="Удалить" href="{% url gw.views.assigncat_del item.id %}"> &nbsp; X &nbsp; </a>
				</td>
			<tr>
		{% endfor %}
		</table>
	</td>
	<td valign="top">
		<table border="1" cellspacing="0">
			<tr> <th colspan="9"> Задачи </th> <th> <a class="button" title="Добавить задачу" href="{% url gw.views.assign_add %}"> &nbsp; + &nbsp; </a> </th> </tr>
			<form> <tr> <th> Filter </th> <th> + </th> <th> - </th> <th> - </th> <th> + </th> <th> + </th> <th/> <th/> <th/> </tr> </form>
			<form> <tr> <th> Sort </th> <th> + </th> <th> + </th> <th> + </th> <th> + </th> <th> + </th> <th/> <th/> <th/> </tr> <form>
			<tr> <th> # </th> <th> Категория </th> <th> Тема </th> <th> Создано </th> <th> Автор </th> <th> Исполнитель </th> <th> Важность </th> <th> Срок </th> <th> Состояние </th> </tr>
			{% for item in item_list %}
				<tr>
					<td> {{ forloop.counter }} </td>
					<td> {% if item.category %} <a href="{% url gw.views.assigncat_view item.category.id %}"> {{ item.category }} </a> {% endif %} </td>
					<td> <a href="{% url gw.views.assign_view item.id %}" title="{{ item.description }}"> {{ item.subject }} </a> </td>
					<td> {{ item.created|date }} </td>
					<td> {{ item.author }} </td>
					<td> {{ item.assignee }} </td>
					<td> {{ item.importance }} </td>
					<td> {% if item.deadline %} {{ item.deadline }} {% endif %} </td>
					<td align="center"> {%if item.done %} &radic; {% endif %} {%if item.read %} &radic; {% endif %} </td>
					<td>
						<a class="button" title="Изменить" href="{% url gw.views.assign_edit item.id %}"> &nbsp; E &nbsp; </a>
						<a class="button" title="Удалить" href="{% url gw.views.assign_del item.id %}"> &nbsp; X &nbsp; </a>
						{% if not item.done %} <a class="button" title="Завершить" href="{% url gw.views.assign_done item.id %}"> &nbsp; &radic; &nbsp; </a> {% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	</td>
</tr>
</table>
{% endblock %}
