{% extends "gw/task/task_base.html" %}
{% block body_main %}
<hr/>
<table width="100%" border="1">
	<form> <tr> <th> Filter </th> <th>  </th> <th>  </th> <th>  </th> <th>  </th> <th>  </th> <th>  </th> <th>  </th> <th>  </th> </tr> </form>
	<form> <tr> <th> Sort </th> <th>  </th> <th>  </th> <th>  </th> <th>  </th> <th>  </th> <th>  </th> <th>  </th> <th>  </th> </tr> <form>
	<tr> <th> # </th> <th> Тип </th> <th> Категория </th> <th> Тема </th> <th> Создано </th> <th> Автор </th> <th> Исполнитель </th> <th> Срок </th> <th> Состояние </th> </tr>
	{% for item in item_list %}
		<tr>
		<td> {{ forloop.counter }} </td>
		<td> {{ item.getclassname }} </td>
		<td> {{ item.category }} </td>
		<td> <a href="{% url gw.views.task_list %}" title="{{ item.description }}"> {{ item.subject }} </a> </td>
		<td> {{ item.created|date }} </td>
		<td> {{ item.author }} </td>
		<td> {% if item.assignee %} {{ item.assignee }} {% endif %} </td>
		<td> {% if item.deadline %} {{ item.deadline }} {% endif %} </td>
		<td> {{ item.done }}, {{ item.read }} </td>
		</tr>
		</a>
	{% endfor %}
</table>
{% endblock %}
