$def with (content)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>
		CMS $:content.title
	</title>
	<link type="text/css" href="/static/css/base.css" rel="stylesheet">
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/misc.js"></script>
	<!-- /admin -->
	<script type="text/javascript">
		$$(document).ready(function () {
			$if content.jsready:
				$:content.jsready
		})
	</script>
	<style type="text/css" >
	</style>
</head>
<body>
<table id="topmenu"> <tr>
	<td> <div id="tm_home"> <a href="/"> Home </a> </div> </td>
	<td> <div id="tm_core"> <a href="/core/"> Ядро </a> </div> </td>
	<td style="width: 100%"> <div> <b> CMS </b> </div> </td>
</tr> </table>
<div>
$:content
</div>
</body>
</html>
