<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>LanSite.СРО2</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style type="text/css">
		A.button {
			border: outset;
			background: lightgrey;
			padding: 2px;
			text-decoration: none;
			color: black;
		}
	</style>
</head>
<body>
<center>
	<h1> <a href="{% url views.index %}"> LanSite </a> &gt; СРО2 </h1>
	<table width="100%" border="0">
		<tr align="center" bgcolor="lightgrey">
		{% for sro in sro_list %}
			<td> <a href="{% url sro2.views.index_sro sro.id %}"> {{ sro.name }} </a> </td>
		{% endfor %}
			<td> <a href="{% url sro2.views.journal %}"> Журнал </a> </td>
		</tr>
	</table>
</center>
<p> Пользователь: {% if user.is_authenticated %} {{ user.username }} <a class="button" href="../logout/"> Logout </a> {% else %} anonymous <a class="button" href="../login/"> Login </a> {% endif %} </p>
</body>
</html>
