{% load sro2_extras %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>LanSite.СРО2.{{ sro.name }}.Поиск</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="base.css" type="text/css" />
</head>
<body>

<center> <h1>
	<a href="{% url views.index %}"> LanSite </a> &gt;
	<a href="{% url sro2.views.index %}"> СРО2 </a> &gt;
	<a href="{% url sro2.views.index_sro sro.id %}"> {{ sro.name }} </a> &gt;
	Поиск
</h1> </center>
<hr/>
{% for stage in stage_list %}
	<p> <a href="{% url sro2.views.sro_find_filter sro.id stage.id %}" > {{ stage.no }}. {{ stage.name }} </p>
{% endfor %}
</body>
</html>
