<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>LanSite.СРО2.{{ sro.name }}.Организации</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="org.css" type="text/css" />
</head>
<body>
<center> <h1>
	<a href="{% url lansite.views.index %}"> LanSite </a> &gt; 
	<a href="{% url lansite.sro2.views.index %}"> СРО2 </a> &gt;
	<a href="{% url lansite.sro2.views.index_sro sro.id %}"> {{ sro.name }} </a> &gt;
	<a href="{% url lansite.sro2.views.sro_list sro.id %}"> Организации </a> &gt;
	Новая
	</h1> </center>
<form action=".#org" method="POST">
<table width="100%" border="1">
{{ form.as_table }}
</table>
<input type="submit" value="Записать и закрыть" />
<input type="button" value="Отказаться" onClick="window.location.href='{% url lansite.sro2.views.sro_list sro.id %}'"/>
</form>
