<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title> {{ item.org.name }} </title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style  type="text/css">
body	{
	font-family:		Serif;
	font-size:		9pt;
	background-color:	white;
	color:			black;
}

TH	{
	background-color:	grey;
}

H1	{
	font-size:		12pt;
	font-weight:		bold;
	background-color:	grey;
	color:			white;
	text-align:		center;
}
H2	{
	font-size:		11pt;
	font-weight:		bold;
}
H3	{
	font-size:		10pt;
	font-weight:		bold;
}
H4	{
	font-size:		9pt;
	font-weight:		bold;
}
</style>
</head>
<body>

<h1> {{ orgsro.org.okopf.shortname }} {{ orgsro.org.name }} </h1>

<!-- main -->
<hr/> <h2> Основные данные: </h2>
	<table border="0">
		<tr>	<td> Краткое наименование: </td>		<td> {{ orgsro.org.name }} </td>		</tr>
		<tr>	<td> Полное наименование: </td>		<td> {{ orgsro.org.fullname }} </td>		</tr>
		<tr>	<td> ОКОПФ: </td>				<td> {{ orgsro.org.okopf }} </td>		</tr>
		<tr>	<td> Дата регистрации в ЕГРЮЛ: </td>		<td> {{ orgsro.org.egruldate|date }} </td>	</tr>
		<tr>	<td> ИНН: </td>				<td> {{ orgsro.org.inn }} </td>		</tr>
		<tr>	<td> КПП: </td>				<td> {{ orgsro.org.kpp }} </td>		</tr>
		<tr>	<td> ОГРН: </td>				<td> {{ orgsro.org.ogrn }} </td>		</tr>
		<tr>	<td> ОКАТО: </td>				<td> {{ orgsro.org.okato }} </td>		</tr>
		<tr>	<td> Адрес юридический: </td>			<td> {{ orgsro.org.laddress }} </td>		</tr>
		<tr>	<td> Адрес фактический: </td>			<td> {{ orgsro.org.raddress }} </td>		</tr>
		<tr>	<td> Реестровый №: </td>			<td> {{ orgsro.regno }} </td>			</tr>
		<tr>	<td> Дата членства в НП: </td>			<td> {{ orgsro.regdate|date }} </td>		</tr>
		<tr>	<td> Лицензия: </td>	<td>
			{% if orgsro.orglicense %}
				№ {{ orgsro.orglicense.no }} от {{ orgsro.orglicense.datefrom|date }} по {{ orgsro.orglicense.datedue|date }}
				{% block body_license_del_button %} {% endblock %}
			{% else %}
				Нет
				{% block body_license_add_button %} {% endblock %}
			{% endif %}
		</td>	</tr>
	</table>

<!-- okved -->
<hr/> <h2> ОКВЭД: </h2>
<ul> {% for i in orgsro.org.okveds.all %} <li> {{ i.asstr }} </li> {% endfor %} </ul>

<!-- phone -->
<hr/> <h2> Телефоны: </h2>
<ul> {% for i in orgsro.org.orgphone_set.all %} <li> {{ i.asstr }} </li> {% endfor %} </ul>

<!-- email -->
<hr/> <h2> Email: </h2>
<ul> {% for i in orgsro.org.orgemail_set.all %} <li> <a href="mailto:{{ i.asstr }}"> {{ i.asstr }} </a> </li> {% endfor %} </ul>

<!-- www -->
<hr/> <h2> WWW: </h2>
<ul> {% for i in orgsro.org.orgwww_set.all %} 	<li>  <a href="{{ i.asstr }}"> {{ i.asstr }} </a> </li> {% endfor %} </ul>

<!-- stuff -->
<hr/> <h2> Персонал: </h2>
<ul> {% for i in orgsro.org.orgstuff_set.all %} {% ifequal i.leader 1 %} <li> {{ i.person.asstr }} - {{ i.role.asstr }} </li> {% endifequal %} {% endfor %} </ul>

<!-- permit -->
<hr/> <h2> Действующее свидетельство о допуске: </h2>
{% if orgsro.currperm %}
	<p> (№ {{ orgsro.currperm.no }} от {{ orgsro.currperm.date|date }}, протокол № {{ orgsro.currperm.protocol.no }} от {{ orgsro.currperm.protocol.date|date }}) </p>
	{% for stage in orgsro.currperm.stagelist.permitstage_set.all %}
		<p> {{ stage.stage.no }}. {{ stage.stage.name }} </p>
		<ul>
		{% for job in stage.jobs.all %}
			<li> {{ job.okdp }}: {{ job.name }} </li>
		{% endfor %}
		</ul>
	{% endfor %}
{% endif %}

</body>
</html>
