{% extends "sro2/stagelist_base.html" %}
{% block stages %}

<!-- ща будет костыль -->
<script type="text/javascript" language="JavaScript">
<!--
function GroupClicked (fmobj) {
	for (var i=0;i<fmobj.elements.length;i++)
	{
		var e = fmobj.elements[i];
		if ((e.name == 'id') && (e.type=='checkbox') && (!e.disabled))
			{ e.checked = fmobj.g.checked; }
	}
}
function ItemClicked (item) {
	if (item.checked == true) {
		if (document.myform.g.checked == false) {	// if this is first item
			document.myform.g.checked = true;
		}
	}
	else {	// item off
		items = document.myform.id;
		flag = false;
		for (i = 0; i < items.length; i++) {
			if (items[i].checked == true) {
				flag = true;
				break;
			}
		}
		if ((flag == false) && (document.myform.g.checked == true)) {
			document.myform.g.checked = false;
		}
	}
}
//-->
</script>

<form name="myform" action=".#{{ id }}" method="POST">
<table border="0">
	<tr bgcolor="lightgrey">
		<th align="center"> <input type="checkbox" name="g" {% ifequal sflag 1 %} checked {% endifequal %} onClick="GroupClicked(document.myform);" /> </td>
		<th> {{ stage.id }} </td>
		<th> {{ stage.name }} </td>
	<tr>
	{% for j, jflag in jobs %}
	<tr>
		<td align="center"> <input type="checkbox" name="id" value="{{ j.id }}" {% ifequal jflag 1 %} checked {% endifequal %} onClick="ItemClicked(this);" /> </td>
		<td> {{ j.id }} </td>
		<td> {{ j.name }} </td>
	<tr>
	{% endfor %}
</table>
<input type="submit" value="Сохранить и выйти" />
<input type="button" value="Выйти без сохранения" onClick="window.location.href='{% url sro2.views.stagelist_list stagelist.id %}'"/> </td>
</form>
{% endblock %}
