{% extends "core/base.html" %}

{% block title %} {{ super() }}: Люди {% endblock %}
{% block header %}
  {% set pager_url = url_for('core.views.person_list') %}
  {% set pager_title = 'Люди' %}
  {% include "paginator.html" with context %}
{% endblock %}
 
{% block body_main %}
<p> <a href="{{ url_for('person_create') }}"> {% include "img_add.html" %} </a> </p>
<table border="0">
{% for object in object_list %}
    <tr>
        <td> <a href="{{ url_for('person_detail', object.pk) }}"> {{ object.lastname }} </a> </td>
        <td> {{ object.firstname }} </td>
        <td> {{ object.midname }} </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
