{% extends "sro/org_main_base.html" %}
{% block body_main_button %} <tr>	<td colspan="2"> <a href="../../main/edit/"> Edit </a> </td> </tr> {% endblock %}
{% block body_okved_button %} <tr>	<td colspan="2"> <a href="../../okved/edit/"> Edit </a> </td> </tr> {% endblock %}
{% block body_phone_button %} <tr>	<td colspan="2"> <a href="../../phone/edit/"> Edit </a> </td> </tr> {% endblock %}
{% block body_email_button %} <tr>	<td colspan="2"> <a href="../../email/edit/"> Edit </a> </td> </tr> {% endblock %}
