$def with (users, dbs, dxu)

<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<body>
<center>
<h1>ACL</h1>
</center>
<form method="post" action="/acl">
<table border="1">
<tr>
	<th> Database </th>
$for user in users:
	<th title="$user[2]"> $user[1] </th>
</tr>
$for i, db in enumerate(dbs):
	<tr>
	<td title="$db[2] $db[3] ($db[4])"> $db[1] </td>
	$for j, du in enumerate(dxu[i]):
		$ name = "%d.%d" % (i, j)
		<td> <p>
		$if du:
			<input type="checkbox" name="$name" checked>
		$else:
			<input type="checkbox" name="$name">
		</p> </td>
	</tr>
</table>
<input type="submit" value="Apply" />
<form>
</body>
</html>
