$def with (items, id, shares, dbtypes, orgs, message = "")

<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<body>
<center>
<h1>Databases:</h1>
</center>
<table border="1">
	<tr> <th> ID </th> <th> Host </th> <th> Share </th> <th> Path </th> <th> Type </th> <th> Organization </th> <th> Comments </th> <th> Actions </th> </tr>
$for item in items:
	<tr>
	$if (item.id <> id):
		<td> $item.id </td>
		<td> $item.hostname </td>
		<td> $item.sharename </td>
		<td> $item.path </td>
		<td> $item.dbtypename </td>
		<td> $item.orgname </td>
		<td> $item.comments </td>
		<td colspan="2"> &nbsp; </td>
	$else:
		<form method="post" action="/db/edit/$item.id">
		<td> $item.id </td>
		<td colspan="2"> <select size="1" name="shareid">
		$for i in shares:
			<option value="$i.id"
			$if (i.id == item.shareid):
				selected
			>$i.hostname \ $i.name</option>
		</select> </td>
		<td> <input type="text" name="path" value="$item.path"/> </td>
		<td> <select size="1" name="dbtypeid">
		$for i in dbtypes:
			<option value="$i.id"
			$if (i.id == item.dbtypeid):
				selected
			>$i.name</option>
		</select> </td>
		<td> <select size="1" name="orgid">
		$for i in orgs:
			<option value="$i.id"
			$if (i.id == item.orgid):
				selected
			>$i.name</option>
		</select> </td>
		<td> <input type="text" name="comments" value="$item.comments"/> </td>
		<td> <input type="submit" value="Apply" /> </td>
		</form>
		<td><form method="get" action="/db/list/"> <input type="submit" value="Cancel"/></form></td>
	</tr>
</table>
$if message:
	<p>$message</p>
</body>
</html>
