$def with (items, dbname, argdict, subform, message = "")

<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<body>
<center>
<h1>$argdict["title"]</h1>
</center>
<table border="1">
	<tr>
$for item in argdict["th"]:
	<th> $item </th>
<th colspan="2"> Actions </th>
	</tr>
$for item in items:
	<tr>
	$for i in argdict["td"]:
		<td> $(item[i]) </td>
	<td><form method="get" action="/$dbname/edit/$item.id"><input type="submit" value="Edit"/></form></td>
	<td><form method="get" action="/$dbname/del/$item.id"><input type="submit" value="Del" onclick="return confirm('Are you sure you want to delete this item?')"></form></td>
	</tr>
<form method="post" action="/$dbname/add/">
	<tr>
		<td/>
$:subform
		<td colspan="2"> <input type="submit" value="Add" /> </td>
	</tr>
</form>
</table>
$if message:
	<p>$message</p>
</body>
</html>
