<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>LanSite.СРО2.{{ sro.name }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="base.css" type="text/css" />
</head>
<body>
<center>
	<h1> <a href="{% url lansite.views.index %}"> LanSite </a> &gt; <a href="{% url lansite.sro2.views.index %}"> СРО2 </a> &gt; {{ sro.name }} </h1>
	<table width="100%" border="0">
		<tr align="center" bgcolor="lightgrey">
			<td> <a href="{% url lansite.sro2.views.sro_list sro.id %}"> Организации </a> </td>
			<td> <a href="{% url lansite.sro2.views.person_list sro.id %}"> Люди </a> </td>
			<td> <a href="{% url lansite.sro2.views.protocol_list sro.id %}"> Протоколы </a> </td>
			<td> <a href="{% url lansite.sro2.views.journal %}"> Журнал </a> </td>
		</tr>
	</table>
</center>
</body>
</html>
