<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Выписка</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style  type="text/css">
@page		{
	size: 21cm 29.7cm;
	margin: 2cm;
}
body	{
	font-family:	Serif;
	font-size:	10pt;
}
P.style1	{
	font-size:	12pt;
	font-weight:	bold;
	text-align:	center;
}
P.style2	{
	font-size:	10pt;
	font-weight:	bold;
	text-align:	justify;
}
P.style3	{
	font-size:	8pt;
	text-align:	center;
	margin-top: -18px;
}
P.style4	{
	font-size:	12pt;
	text-align:	left;
}
P.style5	{
	font-size:	12pt;
	font-weight:	bold;
	text-align:	left;
}
P.style61	{
	font-size:	7pt;
	font-weight:	bold;
	text-align:	left;
}
P.style62	{
	font-size:	7pt;
	text-align:	left;
	margin-top: -11px
}
P.style7	{
	font-size:	12pt;
	font-weight:	bold;
	text-align:	center;
}
P.style8	{
	font-size:	7pt;
	font-weight:	bold;
	text-align:	right;
}
</style>
</head>
<body>
<p class="style8"> Утверждено Решением Правления НП СРО «{{ orgsro.sro.name }}» (Протокол №1 от 12.01.2010 года)</p>
<p class="style7"> ВЫПИСКА </p>
<p class="style7"> из реестра членов Некоммерческого партнерства саморегулируемой организации {{ orgsro.sro.fullname }} </p>
<p class="style2"> {{ orgsro.sro.sroown.subtitle }} </p>
<table border="0"><tr><td>
<p class="style1"> <u> {{ date|date }} </u> </p>
<p class="style3"><sup>(Дата)</sup></p>
</td></tr></table>
<p class="style4"> Настоящая выписка содержит сведения о члене НП СРО «{{ orgsro.sro.name }}»: </p>
<p class="style1"> <u> {{ orgsro.org.okopf.name }} {{ orgsro.org.fullname }} </u> </p>
<p class="style3"> (Полное наименование орагнизации) </p>
<p class="style1"> <u> {{ orgsro.regno }} </u> </p>
<p class="style3"> (Реестровый номер) </p>
<table width="100%" border="1">
<tr>
	<td> <p class="style5"> ОГРН </p> </td>
	<td> <p class="style5"> {{ orgsro.org.ogrn }} </p> </td>
</tr>
<tr>
	<td> <p class="style5"> ИНН </p> </td>
	<td> <p class="style5"> {{ orgsro.org.inn|stringformat:"010d" }} </p> </td>
</tr>
<tr>
	<td> <p class="style5"> Полное наименование </p> </td>
	<td> <p class="style5"> {{ orgsro.org.okopf.name }} {{ orgsro.org.fullname }} </p> </td>
</tr>
<tr>
	<td> <p class="style5"> Сокращенное наименование </p> </td>
	<td> <p class="style5"> {{ orgsro.org.okopf.shortname }} {{ orgsro.org.name }} </p> </td>
</tr>
<tr>
	<td> <p class="style5"> Фирменное наименование </p> </td>
	<td> <p class="style5"> {{ orgsro.org.okopf.name }} {{ orgsro.org.fullname }} </p> </td>
</tr>
<tr>
	<td> <p class="style5"> ОПФ </p> </td>
	<td> <p class="style5"> {{ orgsro.org.okopf.name }} </p> </td>
</tr>
<tr>
	<td> <p class="style5"> Местонахождение </p> </td>
	<td> <p class="style5"> {{ orgsro.org.laddress }} </p> </td>
</tr>
<tr>
	<td> <p class="style5"> Реестровый номер в НП СРО «{{ orgsro.sro.name }}» </p> </td>
	<td> <p class="style5"> {{ orgsro.regno }} </p> </td>
</tr>
<tr>
	<td> <p class="style5"> Дата членства в НП СРО «{{ orgsro.sro.name }}» </p> </td>
	<td> <p class="style5"> {{ orgsro.regdate|date }} </p> </td>
</tr>
<tr>
	<td> <p class="style5"> Номер Свидетельства о допуске к работам, которые оказывают влияние на безопасность объектов капитального строительства </p> </td>
	<td> <p class="style5"> {{ permit.permit.no }} от {{permit.permit.date|date }} </p> </td>
</tr>
<tr>
	<td> <p class="style5"> Состояние Свидетельства о допуске к работам, которые оказывают влияние на безопасность объектов капитального строительства </p> </td>
	<td> <p class="style5"> действующее </p> </td>
</tr>
<tr>
	<td> <p class="style5"> Основание выдачи: </p> </td>
	<td> <p class="style5"> Решение Правления НП «{{ orgsro.sro.name }}», протокол №{{ permit.permit.protocol.no }} </p> </td>
</tr>
<tr>
	<td> <p class="style5"> Перечень видов работ, на которые член НП СРО «{{ orgsro.sro.name }}» имеет Свидетельство о допуске к работам. </p> </td>
	<td>
		{% for stage in permit.permitstage_set.all %}
			<p class="style61"> {{ stage.stage.no }}. {{ stage.stage.name }} </p>
			{% for job in stage.stage.job_set.all %}
				<p class="style62"> {{ job.okdp }}: {{ job.name }} </p>
			{% endfor %}
		{% endfor %}
	</p> </td>
</tr>
<tr>
	<td> <p class="style5"> Дата оплаты вступительного взноса </p> </td>
	<td> <p class="style5"> {{ orgsro.paydatevv|date }} </p> </td>
</tr>
<tr>
	<td> <p class="style5"> Дата оплаты взноса в компенсационный фонд НП СРО «{{ orgsro.sro.name }}» </p> </td>
	<td> <p class="style5"> {{ orgsro.paydate|date }} </p> </td>
</tr>
<tr>
	<td> <p class="style5"> Страхование гражданской ответственности </p> </td>
	<td> <p class="style5"> Договор страхования гражданской ответственности № {{ orgsro.orginsurance.no }} от {{ orgsro.orginsurance.date|date }}, {{ orgsro.orginsurance.insurer.fullname }} </p> </td>
</tr>
<tr>
	<td> <p class="style5"> Сумма страхового возмещения </p> </td>
	<td> <p class="style5"> {{ orgsro.orginsurance.sum }} рублей </p> </td>
</tr>
<tr>
	<td> <p class="style5"> Сведения о внесении изменений  в Свидетельство о допуске к работам, которые оказывают влияние на безопасность объектов капитального строительства </p> </td>
	<td>
		<ol>
		{% for permit in changes %}
			<li> <p class="style5"> Свидетельство № {{ permit.permit.no }} от {{ permit.permit.date|date }} </p> </li>
		{% endfor %}
		</ol>
	</td>
</tr>
<tr>
	<td> <p class="style5"> Сведения о приостановлении выданного НП СРО «{{ orgsro.sro.name }}» свидетельства о допуске к работам </p> </td>
	<td> <p class="style5"> отсутствуют </p> </td>
</tr>
<tr>
	<td> <p class="style5"> Сведения о возобновлении свидетельства о допуске к работам, которые оказывают влияние на безопасность объектов капитального строительства </p> </td>
	<td> <p class="style5"> отсутствуют </p> </td>
</tr>
<tr>
	<td> <p class="style5"> Сведения об отказе в возобновлении свидетельства о допуске к работам, которые оказывают влияние на безопасность объектов капитального строительства </p> </td>
	<td> <p class="style5"> отсутствуют </p> </td>
</tr>
<tr>
	<td> <p class="style5"> Сведения о прекращении действия свидетельства о допуске к работам, которые оказывают влияние на безопасность объектов капитального строительства </p> </td>
	<td> <p class="style5"> отсутствуют </p> </td>
</tr>
</table>

<table width="100%" border="0">
<tr>
	<td> <p class="style5"> Исполнительный директор <br/> НП СРО «{{ orgsro.sro.name }}» </p> </td>
	<td align="right"> <p class="style5">  Д.В. Сережин </p> </td>
</tr>
<tr><td colspan="2" align="center"> <p class="style7">  МП </p> </td></tr>
</table>
</body>
</html>
