{% extends "sro2/person_base.html" %}
{% block body_skill_button %} {% endblock %}
{% block body_skill %}
	<!-- deletable -->
	<table border="1">
		<tr>
			<th> Специальность </th>
			<th> Подробности </th>
			<th/>
		</tr>
	{% for i in person_skill %}
		<tr>
			<td> {{ i.speciality.name }} </td>
			<td> <table>
				<tr> <td> Квалификация </td>			<td> {{ i.skill.name }} </td> </tr>
				<tr> <td> Год </td>				<td> {{ i.year }} </td> </tr>
				<tr> <td> Дата окончания </td>			<td> {% if i.skilldate %} {{ i.skilldate }} {% endif %} </td> </tr>
				<tr> <td> Учебное заведение </td>		<td> {{ i.school }} </td> </tr>
				<tr> <td> Стаж </td>				<td> {% if i.seniority %} {{ i.seniority }} {% endif %} </td> </tr>
				<tr> <td> Стаж. Дата актуальности </td>	<td> {% if i.seniordate %} {{ i.seniodate|date }} {% endif %} </td> </tr>
				<tr> <td> Аттестация. Дата выдачи </td>	<td> {% if i.tested %} {{ i.tested|date }} {% endif %} </td> </tr>
				<tr> <td> СоПК. № </td>			<td> {% if i.courseno %} {{ i.courseno }} {% endif %} </td> </tr>
				<tr> <td> СоПК. Дата </td>			<td> {% if i.coursedate %} {{ i.coursedate }} {% endif %} </td> </tr>
				<tr> <td> СоПК. Тема </td>			<td> {% if i.coursename %} {{ i.coursename }} {% endif %} </td> </tr>
				<tr> <td> СоПК. Уч. зав. </td>			<td> {% if i.courseschool %} {{ i.courseschool }} {% endif %} </td> </tr>
			</table> </td>
			<td> {% if perms.sro.delete_personskill %} <input type="button" value="X" title="Удалить" onClick="confirmDelete('{% url lansite.sro2.views.person_skill_del sro.id person.id, i.id %}#stuff')"/> {% endif %} </td>
		</tr>
	{% endfor %}
	</table>
<hr/>
	<!-- add -->
{% if perms.sro.add_personskill %}
<table border="0"> <tr>
<td>
	<form action="." method="POST">
	<table border="0">
		<tr> <td> {{ form.speciality.label_tag }} </td>	<td> <div class="fieldWrapper"> {{ form.speciality.errors }}		{{ form.speciality }} </div> </td> </tr>
		<tr> <td> {{ form.skill.label_tag }} </td>		<td> <div class="fieldWrapper"> {{ form.skill.errors }}		{{ form.skill }} </div> </td> </tr>
		<tr> <td> {{ form.year.label_tag }} </td>		<td> <div class="fieldWrapper"> {{ form.year.errors }}			{{ form.year }} </div> </td> </tr>
		<tr> <td> {{ form.skilldate.label_tag }} </td>		<td> <div class="fieldWrapper"> {{ form.skilldate.errors }}		{{ form.skilldate }} </div> </td> </tr>
		<tr> <td> {{ form.school.label_tag }} </td>		<td> <div class="fieldWrapper"> {{ form.school.errors }}		{{ form.school }} </div> </td> </tr>
		<tr> <td> {{ form.seniority.label_tag }} </td>		<td> <div class="fieldWrapper"> {{ form.seniority.errors }}		{{ form.seniority }} </div> </td> </tr>
		<tr> <td> {{ form.seniodate.label_tag }} </td>		<td> <div class="fieldWrapper"> {{ form.seniodate.errors }}		{{ form.seniodate }} </div> </td> </tr>
		<tr> <td> {{ form.tested.label_tag }} </td>		<td> <div class="fieldWrapper"> {{ form.tested.errors }}		{{ form.tested }} </div> </td> </tr>
		<tr> <td> {{ form.courseno.label_tag }} </td>		<td> <div class="fieldWrapper"> {{ form.courseno.errors }}		{{ form.courseno }} </div> </td> </tr>
		<tr> <td> {{ form.coursedate.label_tag }} </td>	<td> <div class="fieldWrapper"> {{ form.coursedate.errors }}		{{ form.coursedate }} </div> </td> </tr>
		<tr> <td> {{ form.coursename.label_tag }} </td>	<td> <div class="fieldWrapper"> {{ form.coursename.errors }}		{{ form.coursename }} </div> </td> </tr>
		<tr> <td> {{ form.courseschool.label_tag }} </td>	<td> <div class="fieldWrapper"> {{ form.courseschool.errors }}	{{ form.courseschool }} </div> </td> </tr>
		<tr> <td/> <td> <input type="submit" value="+" /> </td> </tr>
	</table>
	</form>
</td>
{% if perms.sro2.add_speciality or perms.sro2.add_skill %}
<td valign="top">
	<table border="0"> 
		<tr> <td >
			{% if perms.sro2.add_speciality %}
			<form action="{% url lansite.sro2.views.person_skill_add_speciality sro.id person.id %}" method="POST">
				<div class="fieldWrapper">
					<input type="submit" value="<" title="Добавить новую специальность" value="<"/>
					{{ form_speciality.name.errors }}
					{{ form_speciality.name }}
				</div>
			</form>
			{% endif %}
			{% if perms.sro2.add_skill %}
			<form action="{% url lansite.sro2.views.person_skill_add_skill sro.id person.id %}" method="POST">
				<div class="fieldWrapper">
					<input type="submit" value="<" title="Добавить новую квалификацию"/>
					{{ form_skill.name.errors }}
					{{ form_skill.name }}
				</div>
			</form>
			{% endif %}
		</td> </tr>
	</table>
</td>
{% endif %}
</tr>
</table>
{% endif %}
<input type="button" value="Закончить" onClick="window.location.href='{% url lansite.sro2.views.person_view sro.id person.id %}#skill'"/>
{% endblock %}
