{% extends "sro2/stagelist_base.html" %}
{% block sidebar %}
	<center> <h1>
		<a href="{% url views.index %}"> LanSite </a> &gt;
		<a href="{% url sro2.views.index %}"> СРО2 </a> &gt;
		<a href="{% url sro2.views.index_sro stagelist.stagelist.orgsro.sro.id %}"> {{ stagelist.stagelist.orgsro.sro.name }} </a> &gt;
		<a href="{% url sro2.views.sro_list stagelist.stagelist.orgsro.sro.id %}"> Организации </a> &gt;
		<a href="{% url sro2.views.orgsro_view stagelist.stagelist.orgsro.id %}"> {{ stagelist.stagelist.orgsro.org.name }} </a> &gt;
		{{ stagelist.stagelist.type.name }}
	</h1> </center>
{% endblock %}
{% block main %}
	<form action="." method="post">
	<table>
		<tr> <td> Тип: </td> <td> {{ stagelist.stagelist.type.name }} </td> </tr>
		{{ form.as_table }}
	</table>
	<input type="submit" value="Записать"/> </td>
	<input type="button" value="Отказаться" onClick="window.location.href='{% url sro2.views.stagelist_list stagelist.stagelist.id %}'"/>
	</form>
{% endblock %}
