{% extends "pure.html" %}
{% block body_main %}
<form action="" method="post">
{# csrf_token #}
<p> {{ title }} </p>
<table class="border">
    {# form.as_table #}
    <tr> <td/> <td> {{ form.non_field_errors }} </td> </tr>
    {% for field in form %}
        <tr {% ifequal field.html_name 'person' %}hidden="hidden"{% endifequal %}>
            <th> {{ field.label_tag }}: </th>
            <td> {{ field }} {{ field.errors }} </td>
        </tr>
    {% endfor %}
</table>
<button type="submit"> OK </button>
<a href="{{ cancelurl }}"> <button type="button"> Cancel </button> </a>
</form>
{% endblock %}
