{% extends "sro2/org_base.html" %}
{% block body_okved %}
	<form action=".#okved" method="post">
	<table>
		{% for i in org.okveds.all %}
			<tr>
				<td> {{ i.asstr }} </td>
				<td> {% if perms.sro.delete_orgokved %} <input type="button" value="X" onClick="confirmDelete('{% url lansite.sro2.views.org_edit_okved_del org.id, i.id %}#okved')"/> {% endif %} </td>
			</tr>
		{% endfor %}
		{% if perms.sro.add_orgokved %}
			<tr>
				<td> <select name="okved" id="okved_id">
					{% for i in okved %}
						<option value="{{ i.id }}"> {{ i.asstr }} </option>
					{% endfor %}
				</select> </td>
				<td> <input type="submit" value="+"> </td>
			</tr>
		{% endif %}
	</table>
	<input type="button" value="Закончить" onClick="window.location.href='{% url lansite.sro2.views.org_view org.id %}#okved'"/>
	</form>
{% endblock %}
