{% if object_list.previous_page_number() %}
  <a href="{{ pager_url }}?page=1"> <img src="{{ STATIC_URL }}img/16/icon-fast-backward.png" alt="start"/> </a>
  <a href="{{ pager_url }}?page={{ object_list.previous_page_number() }}"> <img src="{{ STATIC_URL }}img/16/icon-backward.png" alt="prev"/> </a>
{% else %}
  <img src="{{ STATIC_URL }}img/16/icon-fast-backward.png" style="opacity: 0.25" alt="start"/>
  <img src="{{ STATIC_URL }}img/16/icon-backward.png" style="opacity: 0.25" alt="next"/>
{% endif %}

{{ pager_title }}
({{ object_list.number }}/{{ object_list.paginator.num_pages }})

{% if object_list.number < object_list.paginator.num_pages %}
  <a href="{{ pager_url }}?page={{ object_list.next_page_number() }}"> <img src="{{ STATIC_URL }}img/16/icon-forward.png" alt="next"/> </a>
  <a href="{{ pager_url }}?page=last"> <img src="{{ STATIC_URL }}img/16/icon-fast-forward.png" alt="end"/> </a>
{% else %}
  <img src="{{ STATIC_URL }}img/16/icon-forward.png" style="opacity: 0.25" alt="next"/>
  <img src="{{ STATIC_URL }}img/16/icon-fast-forward.png" style="opacity: 0.25" alt="end"/>
{% endif %}
