{% extends "patient/base.html" %}
{% block body_main %}
<p>
    <a href="{% url person_list %}"> Людь: </a>
    <!--a href="{% url person_delete object.pk %}"> <img src="{{ STATIC_URL }}img/16/edit-delete.png" alt="Delete"/> </a-->
    <!--button onClick="confirmDelete('{% url person_delete object.pk %}')"> Удалить </button-->
    <!--object data="circle1.svg" type="image/svg+xml"></object-->
</p>
<table class="border">
    <tr>
        <td> ID: </td>
        <td> {{ object.pk }} </td>
        <td rowspan="7" valign="top" align="right">
            <img class="ptr" src="{{ STATIC_URL }}img/16/edit-delete.png" alt="Delete" onClick="confirmDelete('{% url person_delete object.pk %}')"/>
            <a href="{% url person_update object.pk %}"> {% include "img_edit.html" %} </a>
        </td>
    </tr>
    <tr>
        <td> Фамилия: </td>
        <td> {{ object.lastname }} </td>
    </tr>
</table>
{% endblock %}
