{% extends "sro/org_base.html" %}
{% block body_permit %}
	<table>
		<tr>
			<th> Тип </th>
			<th> Документ </th>
			<th/>
		</tr>
	{% for i in org.permit_set.all %}
		<tr>
			<td> {{ i.permittype.name }} </td>
			<td>
			{% ifequal i.permittype.id 1 %}
				№ {{ i.permitown.regno }} от {{ i.permitown.date|date }}, протокол № {{ i.permitown.meeting.regno }} от {{ i.permitown.meeting.date|date }}
			{% endifequal %}
			{% ifequal i.permittype.id 2 %}
				от {{ i.permitstatement.date|date }}
			{% endifequal %}
			{% ifequal i.permittype.id 3 %}
				№ {{ i.permitalien.regno }} от {{ i.permitalien.date|date }}, выдано {{ i.permitalien.sro.name }}, протокол № {{ i.permitalien.protono }} от {{ i.permitalient.protodate|date }}
			{% endifequal %}
			</td>
			<td> {% if perms.sro.delete_permit %} <input type="button" value="X" onClick="confirmDelete('{% url lansite.sro.views.org_edit_permit_del org.id, i.id %}#permit')"/> {% endif %} </td>
		</tr>
	{% endfor %}
	<!-- add -->
	{% if perms.sro.add_permit %}
	<form action=".#permit" method="POST">
	<tr>
		<td colspan="2">
			<div class="fieldWrapper">
				{{ form.permittype.errors }}
				{{ form.permittype }}
			</div>
		</td>
		<td> <input type="submit" value="+" /> </td>
	</tr>
	</form>
	{% endif %}
	</table>
	<input type="button" value="Закончить" onClick="window.location.href='{% url lansite.sro.views.org_view org.id %}#permit'"/>
{% endblock %}
