<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>LanSite.KLADR</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="base.css" type="text/css" />
</head>
<body>
<center>
	<h1> <a href="{% url views.index %}"> LanSite </a> &gt; <a href="{% url kladr.views.index %}"> KLADR </a> </h1>
</center>
<hr/>
<table width="100%" border="1">
<tr> <th> # </th> <th> id </th> <th> name </th> <th> short </th> <th> level </th> <th> zip </th> <th> okato </th> <th> center </th> </tr>
{% for i in data.getparents %}
	<tr>
		<td/>
		<td> {{ i.id }} </td>
		<td> <a href="{% url kladr.views.view i.id %}"> {{ i.name }} </a> </td>
		<td> {{ i.short.name }} </td>
		<td> {{ i.level }} </td>
		<td> {% if i.zip %} {{ i.zip }} {% endif %} </td>
		<td> {% if i.okato %} {{ i.okato }} {% endif %} </td>
		<td> {% if i.center %} {{ i.center.comments }} {% endif %} </td>
	</tr>
{% endfor %}
	<tr>
		<td/>
		<td> {{ data.id }} </td>
		<td> {{ data.name }} </td>
		<td> {{ data.short.name }} </td>
		<td> {{ data.level }} </td>
		<td> {% if data.zip %} {{ data.zip }} {% endif %} </td>
		<td> {% if data.okato %} {{ data.okato }} {% endif %} </td>
		<td> {% if data.center %} {{ data.center.comments }} {% endif %} </td>
	</tr>
{% for i in data.kladr_set.all %}
	<tr>
	<td> {{ forloop.counter }} </td>
	<td> {{ i.id }} </td>
	<td> <a href="{% url kladr.views.view i.id %}"> {{ i.name }} </a> </td>
	<td> {{ i.short.name }} </td>
	<td> {{ i.level }} </td>
	<td> {% if i.zip %} {{ i.zip }} {% endif %} </td>
	<td> {% if i.okato %} {{ i.okato }} {% endif %} </td>
	<td> {% if i.center %} {{ i.center.comments }} {% endif %} </td>
	</tr>
{% endfor %}
</table>
</body>
</html>
