<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title> CMS: {% block title %}{% endblock %} </title>
	<style type="text/css" >
        html      { border: 1px dotted black; padding: 0; margin: 0; height: 99%;}
        body      { border: 1px solid  black; padding: 0; margin: 0; height: 100%;}
        #thetable { border: 1px dotted black; padding: 0; margin: 0; width: 100%;}
        .thecell  { border: 1px dashed black; padding: 0; margin: 0; height: 99%;}
        #leftmenu { width: 1%; }
        #canvas   { width: 99%; }
        #thesvg   { width: 100%; }
    {% block css %}
    {% endblock %}
	</style>
	<link type="text/css" href="{{ STATIC_URL }}css/svg.css" rel="stylesheet">
	<link type="text/css" href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.maskedinput.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/misc.js"></script>
	<!-- /admin -->
	{% block js %}
	{% endblock %}
	<script type="text/javascript">
		$(document).ready(function () {
			{% block jsready %}
			{% endblock %}
		})
	</script>
</head>
<body>
<!--div id="topmenu"-->
<table id="topmenu"> <tr>
  <td> <a href="{{ url_for('views.index') }}"> <img src="{{ STATIC_URL }}img/16/icon-home.png" alt="Home" title="Go Home"/> </a> </td>
  <td style="width: 100%"> {% block header %} <b> CMS </b> {% endblock %} </td>
  {% if user.is_authenticated() %}
    <td> {{ user.username }} </td>
    <td> <a href="{{ url_for('django.contrib.auth.views.logout') }}?next={{ url_for('index') }}"> <img src="{{ STATIC_URL }}img/16/icon-exit.png" alt="Logout" title="Выход"/> </a> </td>
    {% if user.is_superuser %}
      <td> <a href="{{ url_for('admin:index') }}"> <img src="{{ STATIC_URL }}img/16/icon-settingsthree-gears.png" alt="Admin" title="Админка"/> </a> </td>
    {% endif %}
  {% else %}
    <td> <a href="{{ url_for('django.contrib.auth.views.login') }}?next={{ url_for('index') }}" rel="nofollow"> <img src="{{ STATIC_URL }}img/16/icon-enter.png" alt="Login" title="Вход"/> </a> </td>
  {% endif %}
  <td> <a href=""> <img src="{{ STATIC_URL }}img/16/icon-info-sign.png" alt="Help" title="Помощь"/> </a> </td>
</tr> </table>
<div>
{% block body_main %}
    <p> Dummy </p>
{% endblock %}
</div>
</body>
</html>
