{% if object_list.previous_page_number() %}
  <a href="{{ pager_url }}?page=1"> <img src="{{ STATIC_URL }}img/16/icon-fast-backward.png"/> </a>
  <a href="{{ pager_url }}?page={{ object_list.previous_page_number() }}"> <img src="{{ STATIC_URL }}img/16/icon-backward.png"/> </a>
{% else %}
  <img src="{{ STATIC_URL }}img/16/icon-fast-backward.png" style="opacity: 0.25"/>
  <img src="{{ STATIC_URL }}img/16/icon-backward.png" style="opacity: 0.25"/>
{% endif %}

{{ pager_title }}
({{ object_list.number }}/{{ object_list.paginator.num_pages }})

{% if object_list.number < object_list.paginator.num_pages %}
  <a href="{{ pager_url }}?page={{ object_list.next_page_number() }}"> <img src="{{ STATIC_URL }}img/16/icon-forward.png"/> </a>
  <a href="{{ pager_url }}?page=last"> <img src="{{ STATIC_URL }}img/16/icon-fast-forward.png"/> </a>
{% else %}
  <img src="{{ STATIC_URL }}img/16/icon-fast-forward.png" style="opacity: 0.25"/>
  <img src="{{ STATIC_URL }}img/16/icon-forward.png" style="opacity: 0.25"/>
{% endif %}
